
a:hover {
    text-decoration: underline;
}

body {
    font-size: 14pt;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
}

body.full-map #page-header {
    align-self: flex-start;
}

input[type="text"] {
    font-size: 14pt;
    vertical-align: middle;
}

table {
    align-self: flex-start;
}

table th {
    white-space: nowrap;
}

#last-updated {
    font-size: 11pt;
}

#main {
    overflow: auto;
}

#navigation-bar {
    grid-column-start: span 2;
    padding-right: 20px;
}

#navigation-menu-toggle {
    display: none;
}

#page {
    padding: 20px 40px 40px 40px;
}

#refresh-button {
    --image-size: 28px;
}

#search {
    width: 275px;
    border-left-width: 1px;
    border-left-style: solid;
    overflow: hidden;
}

#search-count {
    font-size: 11pt;
}

#search-filters .button {
    --image-size: 24px;
}

#search-header {
    padding: 10px;
}

#search-paging {
    padding: 10px;
    border-top-width: 1px;
    border-top-style: solid;
}

#search-placeholder {
    padding: 10px;
}

#search-results {
    overflow: auto;
}

#search-results .result {
    padding: 5px 10px;
    --image-size: 24px;
}

#search-results .result .description {
    font-size: 11pt;
}

#side-bar {
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
}

#side-bar .spacer {
    flex: 1;
}

#side-bar-toggle {
    padding: 2 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16pt;
}

#side-bar-toggle-container {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    font-size: 11pt;
    gap: 10px;
}

#status {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#system {
    font-size: 13pt;
}

#system-menu {
    flex: 1;
    grid-template-columns: auto;
    overflow: auto;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-content: flex-start;
}

#system-menu .header {
    font-size: 13pt;
}

#system-menu .system-button {
    text-decoration: none !important;
    padding: 5px 20px;
    font-size: 12pt;
}

#system-menu .system-button.current {
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    display: none;
}

#title {
    font-family: Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    gap: 10px;
    --image-size: 24px;
}

.banner a {
    text-decoration: underline;
}

.banner .content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.button {
    font-size: 12pt;
    vertical-align: middle;
}

.mobile-only {
    display: none !important;
}

.non-desktop {
    display: none !important;
}

.side-bar-open .side-bar-closed-only {
    display: none !important;
}

.side-bar-closed .side-bar-open-only {
    display: none !important;
}

.side-bar-closed #page {
    padding-left: 15px;
}

.side-bar-closed #title {
    justify-content: center;
}

.side-bar-closed #side-bar {
    border-right-width: 0px;
}

.sidebar table {
    align-self: stretch;
}

.smaller-font {
    font-size: 11pt;
}

.tab-button {
    min-width: 100px;
}

.tab-button-bar {
    align-self: flex-start;
}

.tablet-only {
    display: none !important;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .page-container {
        flex-direction: column;
        gap: 20px;
    }
    
    table {
        align-self: stretch;
    }
}

@media screen and (min-width: 1201px) {
    .page-container {
        flex-direction: row;
        gap: 40px;
    }

    .container.inline {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
