
a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

body.full-map #page {
    padding: 10px 20px 10px 20px;
    width: fit-content;
    min-width: 250px;
}

input[type="text"] {
    font-size: 14pt;
    vertical-align: middle;
}

table {
    font-size: 11pt;
    align-self: flex-start;
}

table th {
    font-size: 12pt;
    white-space: nowrap;
}

#content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#main {
    font-size: 13pt;
    overflow: auto;
}

#map-controls {
    left: 15px;
    bottom: 15px;
}

#map-controls .control:hover {
    background-color: var(--map-control-background-hover);
}

#navigation-bar {
    font-size: 14pt;
    padding-right: 20px;
}

#navigation-bar .navigation-button:hover {
    background-color: var(--navigation-bar-hover);
}

#navigation-bar .navigation-button.disabled:hover {
    background-color: unset;
}

#navigation-menu-toggle {
    display: none;
}

#page {
    padding: 20px 40px 40px 40px;
}

#refresh-button {
    padding: 2px;
    --image-size: 28px;
}

#refresh-button:hover {
    background-color: var(--status-bar-hover);
}

#refresh-button.disabled:hover {
    background-color: unset;
}

#search {
    width: 275px;
    border-left-width: 1px;
    border-left-style: solid;
    overflow: hidden;
}

#search-count {
    font-size: 11pt;
}

#search-filters .button {
    --image-size: 24px;
}

#search-header {
    padding: 10px;
}

#search-paging {
    padding: 10px;
    border-top-width: 1px;
    border-top-style: solid;
}

#search-placeholder {
    padding: 10px;
    font-size: 13pt;
}

#search-results {
    overflow: auto;
}

#search-results .result {
    padding: 5px 10px;
    --image-size: 24px;
}

#search-results .result .description {
    font-size: 11pt;
}

#status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#status-bar .details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#system {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}

#system:hover {
    background-color: var(--status-bar-hover);
}

#system-menu {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-right-width: 1px;
    border-right-style: solid;
    font-size: 12pt;
}

#system-menu.collapse-desktop {
    display: none !important;
}

#system-menu .system-button {
    text-decoration: none !important;
    padding: 5px 20px;
    text-wrap: nowrap;
}

#system-menu .system-button.current {
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    display: none;
}

#title:hover {
    background-color: var(--navigation-bar-hover);
}

.banner a {
    text-decoration: underline;
}

.bus {
    min-width: 38px;
}

.button {
    font-size: 12pt;
    vertical-align: middle;
}

.container > .section > .header > .toggle {
    display: none;
}

.mobile-only {
    display: none !important;
}

.non-desktop {
    display: none !important;
}

.option:hover {
    background-color: var(--hover-background);
}

.sidebar table {
    align-self: stretch;
}

.smaller-font {
    font-size: 10pt;
}

.tab-button {
    min-width: 100px;
}

.tab-button-bar {
    align-self: flex-start;
}

.tablet-only {
    display: none !important;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .page-container {
        flex-direction: column;
        gap: 20px;
    }
    
    table {
        align-self: stretch;
    }
}

@media screen and (min-width: 1201px) {
    .page-container {
        flex-direction: row;
        gap: 40px;
    }

    .container.inline {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
