
a:hover {
    text-decoration: underline;
}

body {
    font-size: 14pt;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

body.full-map #page-header {
    align-self: flex-start;
}

form input[type="text"] {
    font-size: 14pt;
    vertical-align: middle;
}

table {
    align-self: flex-start;
}

table th {
    white-space: nowrap;
}

#content {
    padding: 20px 40px 40px 40px;
}

#last-updated {
    font-size: 11pt;
}

#navigation-menu-toggle {
    display: none;
}

#refresh-button img {
    width: 28px;
    height: 28px;
}

#search-desktop {
    padding: 0px 20px 0px 10px;
    font-size: 14pt;
    font-weight: normal;
    position: relative;
    overflow: visible !important;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
}

#search-desktop img {
    width: 28px;
    height: 28px;
}

#search-desktop input[type="text"] {
    font-size: 14px;
    margin: 10px 0px;
    flex: 1;
}

#search-desktop-results {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 30;
    text-align: left;
}

#search-desktop-results .message {
    padding: 12px;
    text-align: center;
}

#search-desktop-results .result {
    padding: 5px 12px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

#search-desktop-results .result img {
    width: 24px;
    height: 24px;
}

#search-desktop-results .result .description {
    flex: 1;
}

#search-non-desktop-toggle {
    display: none;
}

#side-bar {
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
}

#side-bar .spacer {
    flex: 1;
}

#side-bar-toggle {
    padding: 2 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16pt;
}

#side-bar-toggle-container {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    font-size: 11pt;
    gap: 10px;
}

#status {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#system {
    font-size: 13pt;
}

#system-menu {
    flex: 1;
    grid-template-columns: auto;
    overflow: auto;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#system-menu .header {
    font-size: 13pt;
}

#system-menu .system-button {
    text-decoration: none !important;
    padding: 5px 20px;
    font-size: 12pt;
}

#system-menu .system-button.current {
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    display: none;
}

#title {
    font-family: Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    gap: 10px;
}

#title img {
    width: 24px;
    height: 24px;
}

.banner a {
    text-decoration: underline;
}

.banner .content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.button {
    font-size: 12pt;
    vertical-align: middle;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
        gap: 20px;
    }
    
    table {
        width: 100%;
    }
}

@media screen and (min-width: 1201px) {
    .flex-container {
        flex-direction: row;
        gap: 40px;
    }

    .container.inline {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.mobile-only {
    display: none !important;
}

.non-desktop {
    display: none !important;
}

.side-bar-open .side-bar-closed-only {
    display: none !important;
}

.side-bar-closed .side-bar-open-only {
    display: none !important;
}

.side-bar-closed #content {
    padding-left: 15px;
}

.side-bar-closed #title {
    justify-content: center;
}

.side-bar-closed #side-bar {
    border-right-width: 0px;
}

.sidebar table {
    align-self: stretch;
}

.smaller-font {
    font-size: 11pt;
}

.tab-button {
    min-width: 100px;
}

.tab-button-bar {
    align-self: flex-start;
}

.tablet-only {
    display: none !important;
}
