
a {
    font-weight: bold;
}

body {
    font-size: 13pt;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
    margin-bottom: 10px;
    width: 100%;
}

form input[type="submit"] {
    width: 100%;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

#banner .content {
    display: inline-block;
    margin-bottom: 10px;
}

#header .title {
    font-size: 18pt;
}

#header .menu-toggle {
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

#header .menu-toggle .line {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

#header .search-non-desktop-toggle {
    padding: 10px;
}

#menu {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
}

#menu .menu-button {
    display: block;
    color: white;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

#search-non-desktop {
    position: relative;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    z-index: 10;
}

#search-non-desktop input[type="text"] {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    -webkit-appearance: none;
    width: 100%;
}

#search-non-desktop input[type="text"]:focus {
    outline: none;
}

#search-non-desktop #search-non-desktop-results {
    margin-top: 10px;
}

#search-non-desktop #search-non-desktop-results a {
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 16pt;
}

#search-non-desktop #search-non-desktop-results .message {
    padding: 10px 0px;
    text-align: center;
    font-size: 16pt;
}

#search-non-desktop #search-non-desktop-results .message.smaller-font {
    font-size: 14pt;
}

#subheader-system {
    font-size: 14pt;
}

#top-button {
    right: 40px;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.container .navigation .button {
    margin-bottom: 10px;
}

.container .navigation .button:last-child {
    margin-bottom: 0px;
}

.desktop-only {
    display: none;
}

.fixed-table {
    table-layout: fixed;
}

.non-mobile {
    display: none;
}

.smaller-font {
    font-size: 11pt;
}

.tab-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -1px;
}

.tab-button {
    flex: 1;
}

.tablet-only {
    display: none;
}
