
a {
    font-weight: bold;
}

body {
    font-size: 13pt;
}

body.full-map {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body.full-map #side-bar {
    overflow: hidden;
}

body.full-map #system-menu {
    overflow: auto;
}

body.full-map #page-header {
    width: 100%;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

#content {
    padding: 20px;
}

#last-updated {
    font-size: 12pt;
}

#navigation-bar .title {
    font-size: 22pt;
}

#navigation-menu-toggle {
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

#navigation-menu-toggle .line {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

#quick-navigation {
    flex-direction: column;
    align-items: stretch;
}

#refresh-button img {
    width: 36px;
    height: 36px;
}

#search-non-desktop {
    padding: 20px;
    display: block;
}

#search-non-desktop input[type="text"] {
    font-size: 16px;
    width: 100%;
}

#search-non-desktop-results {
    margin-top: 10px;
}

#search-non-desktop-results .message {
    padding: 10px 0px;
    text-align: center;
    font-size: 16pt;
}

#search-non-desktop-results .result {
    padding: 10px 0px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 16pt;
}

#search-non-desktop-results .result img {
    width: 36px;
    height: 36px;
}

#search-non-desktop-results .result .description {
    flex: 1;
}

#search-non-desktop-results .message.smaller-font {
    font-size: 14pt;
}

#search-non-desktop-toggle {
    padding: 10px;
}

#search-non-desktop-toggle img {
    width: 36px;
    height: 36px;
}

#side-bar-toggle-container {
    display: none;
}

#status .details {
    text-align: center;
}

#system {
    font-size: 14pt;
}

#system-menu {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#system-menu.collapse-non-desktop {
    display: none !important;
}

#system-menu .header {
    grid-column-end: span 2;
    font-size: 15pt;
}

#system-menu .system-button {
    padding: 5px 20px;
    font-size: 14pt;
    font-weight: normal;
}

#system-menu .system-button.all-systems {
    grid-column-end: span 2;
}

#system-menu-toggle img {
    width: 36px;
    height: 36px;
}

#title {
    display: none;
}

.banner .content {
    display: inline-block;
    margin-bottom: 10px;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.desktop-only {
    display: none !important;
}

.flex-container {
    flex-direction: column;
    gap: 20px;
}

.menu {
    position: relative;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.menu .menu-button {
    padding: 15px 20px;
    font-size: 16pt;
    font-weight: normal;
}

.menu .menu-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu .menu-button img + span {
    vertical-align: middle;
}

.non-mobile {
    display: none !important;
}

.side-bar-closed-only {
    display: none;
}

.smaller-font {
    font-size: 11pt;
}

.tab-button-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.tablet-only {
    display: none !important;
}
