
a {
    font-weight: bold;
}

body {
    font-size: 13pt;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

#banner .content {
    display: inline-block;
    margin-bottom: 10px;
}

#change-system-menu {
    padding: 0px;
}

#change-system-menu .header {
    text-align: center;
    padding: 5px 20px;
    font-size: 14pt;
    width: calc(100% - 40px);
}

#change-system-menu .menu-button {
    text-align: center;
    padding: 10px 20px;
}

#change-system-menu .menu-button.full-width {
    width: calc(100% - 40px);
}

#main {
    flex-direction: column;
}

#navigation-bar .menu-toggle {
    padding: 10px;
}

#navigation-bar .menu-toggle img {
    width: 36px;
    height: 36px;
}

#navigation-bar .navigation-button {
    font-size: 16pt;
}

#navigation-bar .navigation-menu-toggle {
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

#navigation-bar .navigation-menu-toggle .line {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

#search-non-desktop {
    padding: 20px;
}

#search-non-desktop input[type="text"] {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    -webkit-appearance: none;
    width: 100%;
}

#search-non-desktop input[type="text"]:focus {
    outline: none;
}

#search-non-desktop-results {
    margin-top: 10px;
}

#search-non-desktop-results a {
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 16pt;
}

#search-non-desktop-results img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

#search-non-desktop-results .message {
    padding: 10px 0px;
    text-align: center;
    font-size: 16pt;
}

#system-bar #last-updated {
    font-size: 12pt;
}

#top-button {
    right: 40px;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.desktop-only {
    display: none !important;
}

.flex-container {
    flex-direction: column;
    gap: 20px;
}

.menu {
    position: relative;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.menu .menu-button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16pt;
    font-weight: normal;
    width: calc(25% - 40px);
    text-align: center;
}

.menu .menu-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu .menu-button img + span {
    vertical-align: middle;
}

.mobile-only {
    display: none !important;
}

.non-tablet {
    display: none !important;
}

.smaller-font {
    font-size: 11pt;
}

.tab-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -1px;
}

.tab-button {
    flex: 1;
}
