
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: visible;
}

body.full-map #page {
    padding: 10px 20px 10px 20px;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 12pt;
}

table th {
    font-size: 13pt;
}

#content {
    display: flex;
    flex-direction: column;
}

#main {
    order: 3;
    font-size: 13pt;
}

#map-controls {
    left: 15px;
    bottom: 15px;
}

#navigation-bar .navigation-button {
    font-size: 16pt;
    --image-size: 36px;
}

#navigation-bar .navigation-button.compact .label {
    display: none;
}

#navigation-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#page {
    padding: 20px;
}

#refresh-button {
    --image-size: 28px;
}

#refresh-button-placeholder {
    width: 28px;
}

#search {
    order: 2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#search-bar input[type="text"] {
    font-size: 14pt;
}

#search-filters {
    font-size: 14pt;
}

#search-filters .button {
    --image-size: 32px;
}

#search-header {
    padding: 10px 20px;
    order: 1;
}

#search-paging {
    padding: 10px 20px;
    order: 2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#search-placeholder {
    font-size: 15pt;
    padding: 20px;
    order: 3;
}

#search-results {
    order: 4;
}

#search-results .result {
    font-weight: normal;
    font-size: 15pt;
    padding: 5px 20px;
    --image-size: 28px;
}

#search-results .result .description {
    font-size: 12pt;
}

#status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
}

#status-bar .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#system {
    padding: 0px 10px;
}

#system-menu {
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 12pt;
}

#system-menu.collapse-non-desktop {
    display: none !important;
}

#system-menu .header {
    grid-column-end: span 3;
    text-align: center;
}

#system-menu .system-button {
    padding: 5px 20px;
    font-weight: normal;
}

#system-menu .system-button.all-systems {
    grid-column-end: span 3;
}

#system-menu-toggle {
    --image-size: 28px;
}

.bus {
    min-width: 38px;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

button.compact {
    width: unset;
}

.container > .section > .header > .toggle {
    --image-size: 28px;
}

.container > .section.closed > .header {
    padding-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.container > .section.closed > .content {
    display: none;
}

.desktop-only {
    display: none !important;
}

.flex-container {
    flex-direction: column;
    gap: 20px;
}

.mobile-only {
    display: none !important;
}

.non-tablet {
    display: none !important;
}

.options-container {
    row-gap: 0px;
}

.option {
    padding: 5px 0px;
}

.page-container {
    flex-direction: column;
    gap: 20px;
}

.placeholder {
    align-items: stretch;
}

.smaller-font {
    font-size: 11pt;
}

.side-bar-closed-only {
    display: none;
}

.tab-button-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.tab-button {
    flex: 1;
}
