
a {
    color: #023496;
}

#header {
    background-color: #E20000;
}

#header .header-button:hover {
    background-color: #840000;
}

#header .header-button.disabled:hover {
    background-color: #E20000 !important;
}

#header .header-text input[type="text"]:focus {
    border: 2px solid #840000;
}

#menu {
    background-color: #840000;
}

#search-non-desktop {
    background-color: #840000;
}

#search-non-desktop input[type="text"]:focus {
    outline: none;
    border: 2px solid #E20000;
}

#subheader {
    background-color: #023496;
    color: white;
}

#subheader #last-updated {
    color: #EEEEEE;
}

.button {
    background-color: #E20000;
}

.button:hover {
    background-color: #840000;
}

.dark-only {
    display: none;
}

.marker {
    background-color: #E20000;
}

.pure-table thead {
    background-color: #023496;
    color: white;
}