
:root {
    --tooltip-background: #2F2F2F;
    --tooltip-text: #FFFFFF;
    
    --adherence-background: #444444;
    --adherence-text: #FFFFFF;
    
    --livery-border: #FFFFFF;
    
    --warning-box-background: #4C1F00;
    --warning-box-foreground: #FF6A00;
    --warning-box-border: #FF6A00;
}

#map .route-layer {
    filter: brightness(80%);
}

#map .tile-layer {
    filter: invert(100%) hue-rotate(180deg) saturate(42.069%); /* Nice! */
}

#map.offline .tile-layer {
    filter: invert(100%) hue-rotate(180deg) saturate(42.069%) grayscale(1); /* Nice! */
}

#map-controls .control.error {
    --map-control-icon: #FF0000;
}

.ahead {
    --adherence-background: #FF6A00;
}

.behind {
    --adherence-background: #FF6A00;
}

.custom-headsigns {
    --image-color: #ABABAB;
}

.log-line.critical {
    background-color: #2E0000;
    color: #D57C7C;
    --image-color: #D57C7C;
}

.log-line.debug {
    background-color: #111111;
    color: #CBCBCB;
    --image-color: #CBCBCB;
}

.log-line.error {
    background-color: #831616;
    color: #FFA5A5;
    --image-color: #FFA5A5;
}

.log-line.info {
    background-color: #051754;
    color: #F1F8FF;
    --image-color: #F1F8FF;
}

.log-line.warning {
    background-color: #683300;
    color: #EF9744;
    --image-color: #EF9744;
}

.marker .bearing {
    filter: brightness(80%);
}

.marker .icon {
    filter: brightness(80%);
}

.marker .icon.adherence {
    filter: unset;
}

.marker .icon.occupancy {
    filter: unset;
}

.marker .icon.speed {
    color: #FFFFFF;
}

.modified-service {
    background-color: #B65901;
    color: #FFFFFF;
}

.negative {
    color: #FF0000;
    --image-color: #FF0000;
}

.no-service {
    background-color: #700000;
    color: #FFFFFF;
}

.normal-service {
    background-color: #005900;
    color: #FFFFFF;
}

.occupancy-empty {
    --occupancy-background: #003B00;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-many-seats {
    --occupancy-background: #003B00;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-few-seats {
    --occupancy-background: #003B00;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-standing-room {
    --occupancy-background: #934800;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-crushed {
    --occupancy-background: #934800;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-full {
    --occupancy-background: #4A0000;
    --occupancy-foreground: #FFFFFF;
}

.occupancy-unavailable {
    --occupancy-background: #565656;
    --occupancy-foreground: #FFFFFF;
}

.on-time {
    --adherence-background: #0093A8;
}

.percentage {
    background-color: #565656;
}

.percentage.low {
    background-color: #700000;
}

.percentage.low.inverted {
    background-color: #005900;
}

.percentage.mid {
    background-color: #B65901;
}

.percentage.high {
    background-color: #005900;
}

.percentage.high.inverted {
    background-color: #700000;
}

.positive {
    color: #428342;
    --image-color: #428342;
}

.sheet a.modified-service:hover {
    background-color: #934800;
}

.sheet a.no-service:hover {
    background-color: #4A0000;
}

.sheet a.normal-service:hover {
    background-color: #003B00;
}

.record-warnings {
    --image-color: #DC5050;
}

.transfer {
    --image-color: #AAAAAA;
}

.very-ahead {
    --adherence-background: #FF0007;
}

.very-behind {
    --adherence-background: #FF0007;
}

.weekdays a.weekday.no-service:hover {
    background-color: #4A0000;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #003B00;
}

.weekdays {
    background-color: #393939;
    color: #FFFFFF;
}
