
a {
    color: #04E0FF;
}

body {
    background-color: #2F2F2F;
    color: white;
}

form input[type="text"] {
    border: 2px solid #565656;
    background-color: #2F2F2F;
    color: white;
}

tr.divider {
    border-top: 4px solid #565656;
}

#header {
    background-color: #0A6415;
}

#header .header-button:hover {
    background-color: #00760F;
}

#header .header-button.disabled:hover {
    background-color: #0A6415 !important;
}

#header .header-text input[type="text"]:focus {
    border: 2px solid #00760F;
}

#map.preview {
    border: 1px solid #565656;
}

#menu {
    background-color: #00760F;
}

#search-desktop #search-desktop-results {
    background-color: #2F2F2F;
}

#search-desktop #search-desktop-results .keyboard-selected {
    background-color: #565656;
}

#search-desktop #search-desktop-results .message {
    padding: 12px;
    color: #CBCBCB;
    text-align: center;
}

#search-desktop #search-desktop-results a {
    padding: 5px 12px;
    color: white;
    text-decoration: none;
    display: block;
}

#search-desktop #search-desktop-results a:hover {
    background-color: #565656
}

#search-non-desktop {
    background-color: #00760F;
}

#search-non-desktop input[type="text"]:focus {
    outline: none;
    border: 2px solid #0A6415;
}

#subheader {
    background-color: #565656;
}

#subheader #last-updated {
    color: #EEEEEE;
}

#survey-banner {
    background-color: #8A4D00;
}

.adherence-indicator.ahead {
    background-color: #FF6A00
}

.adherence-indicator.behind {
    background-color: #FF6A00;
}

.adherence-indicator.on-time {
    background-color: #0093A8;
}

.adherence-indicator.very-ahead {
    background-color: #FF0007;
}

.adherence-indicator.very-behind {
    background-color: #FF0007;
}

.button {
    background-color: #0A6415;
}

.button:hover {
    background-color: #00760F;
}

.button.disabled {
    background-color: #565656;
}

.button.disabled:hover {
    background-color: #565656 !important;
}

.dropdown .content {
    background-color: #2F2F2F;
}

.dropdown .content a {
    color: white;
}

.dropdown .content a:hover {
    background-color: #565656
}

.dropdown .content a.disabled {
    color: #ABABAB;
}

.dropdown .content a.disabled:hover {
    background-color: #2F2F2F !important;
}

.dropdown .content .title {
    color: #ABABAB;
}

.horizontal-line {
    background-color: #565656;
}

.info-box {
    background-color: #393939;
    border: 1px solid #565656;
}

.info-box .section {
    border-bottom: 1px solid #565656;
}

.info-box .section:last-child {
    border-bottom: 0px solid #565656;
}

.light-only {
    display: none;
}

.lighter-text {
    color: #ABABAB;
}

.marker .icon {
    background-color: #0A6415;
    border: 2px solid #393939;
}

.news-post {
    background-color: #393939;
    border: 1px solid #565656;
}

.news-post .header {
    background-color: #565656;
    border-bottom: 1px solid #565656;
}

.pure-table {
    border: 1px solid #565656;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #565656;
    border-width: 0 0 0 1px;
}

.pure-table thead {
    background-color: #565656;
    color: white;
}

.pure-table-odd td {
    background-color: #393939;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #393939;
}

.pure-table-bordered td {
    border-bottom: 1px solid #565656;
}

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #565656;
}

.service-indicator .details {
    color: #ABABAB;
}

.tab-button {
    background-color: #2F2F2F;
    border: 1px solid #565656;
    color: #04E0FF;
}

.tab-button:hover {
    background-color: #393939;
}

.tab-button.current {
    background-color: #565656;
    color: white;
}

.vertical-line {
    background-color: #565656;
}