
a {
    text-decoration: none;
}

body {
    margin: 0px;
}

form input {
    -webkit-appearance: none;
}

form input[type="text"] {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

form input[type="text"]:focus {
    outline: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border-width: 0px;
    border-top-width: 2px;
    border-top-style: solid;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    margin-top: 0px;
}

table.striped {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
}

table.striped td {
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table.striped td * {
    vertical-align: middle;
}

table.striped th {
    text-align: left;
    vertical-align: top;
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table.striped tr.divider {
    border-top-width: 4px;
    border-top-style: solid;
}

#header {
    position: relative;
    z-index: 20;
    margin: 0px;
    padding: 0px;
}

#header .title {
    font-weight: bold !important;
}

#header .header-button {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none !important;
    font-family: Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: normal;
}

#header .header-button.disabled {
    cursor: default;
    opacity: 0.7;
}

#header .right {
    float: right !important;
}

#content {
    padding: 20px;
    overflow: auto;
}

#map.full-screen {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#map.preview {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
}

#refresh-button {
    margin-left: 10px;
    display: inline-block;
}

#refresh-button:hover {
    cursor: pointer;
    border-radius: 16px;
}

#refresh-button img {
    width: 32px;
    height: 32px;
}

#subheader {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 10px 20px;
    cursor: default;
    vertical-align: middle;
}

#subheader .content {
    display: inline-block;
}

#subheader #system {
    font-weight: bold;
}

#survey-banner {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 10px 20px;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}

#survey-banner .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#survey-banner .close-button:hover {
    cursor: pointer;
}

#survey-banner .title {
    font-weight: bold;
    font-size: 16pt;
}

#top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}

.adherence-indicator {
    padding: 2px 4px;
    margin-right: 5px;
    border-radius: 4px;
    min-width: 14px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    float: left;
}

.button {
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.button:hover {
    cursor: pointer;
}

.button.disabled:hover {
    cursor: default;
}

.button-container {
    font-size: 0px;
    margin-bottom: -5px;
}

.button-container .button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.checkbox {
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 5px;
}

.checkbox .box {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.checkbox .label {
    vertical-align: middle;
    user-select: none;
}

.container .section .subtitle {
    margin-bottom: 5px;
}

.display-none {
    display: none !important;
}

.flexbox-space-between {
    display: flex;
    justify-content: space-between;
}

.hidden {
    opacity: 0;
}

.info-box {
    background-color: #E6E6E6;
    padding: 10px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #989898;
}

.info-box .title {
    margin-bottom: 20px;
}

.info-box .title:last-child {
    margin-bottom: 0px;
}

.info-box .section {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CBCBCB;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.info-box .section:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info-box .section > .name {
    float: left;
    margin-right: 20px;
}

.info-box .section > .value {
    float: none;
    overflow: hidden;
    text-align: right;
}

.marker {
    position: relative;
}

.marker:hover {
    z-index: 100;
}

.marker .details {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
}

.marker .details .title {
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    line-height: 10pt;
    margin-left: -50px;
    margin-right: -50px;
}

.marker .details .subtitle {
    font-size: 8pt;
    text-align: center;
    overflow: visible;
    line-height: 10pt;
    margin-left: -50px;
    margin-right: -50px;
}

.marker .details .subtitle .adherence-indicator {
    float: none;
    font-size: 8pt;
    padding: 1px 3px;
    border-radius: 3px;
}

.marker .icon {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.marker .icon img {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
    position: relative;
}

.marker .icon .link {
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 18px;
}

.marker .icon ~ * .hover-only {
    display: none;
}

.marker .icon:hover .link {
    opacity: 0.3;
    cursor: pointer;
}

.marker .icon:hover ~ * .hover-only {
    display: block;
}

.marker.small .icon {
    width: 16px !important;
    height: 16px !important;
}

.marker.small .icon img {
    width: 12px;
    height: 12px;
    left: 2px;
    top: 2px;
}

.marker.small .details {
    top: 20px;
}

.middle-align {
    vertical-align: middle;
}

.news-post {
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
}

.news-post .header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}

.news-post .content {
    padding: 10px;
}

.news-post .content p + ul {
    margin-top: -15px;
}

.news-post .content p:last-child {
    margin-bottom: 0px;
}

.news-post-older {
    margin-top: 20px;
}

.no-wrap {
    white-space: nowrap;
}

.page-header.map-page {
    position: relative;
    z-index: 5;
}

.page-header.map-page .tab-button {
    border-bottom-width: 2px;
}

.page-header .subtitle {
    font-weight: normal;
}

.route-number {
    display: inline-block;
    padding: 1px 6px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
}

.service-indicator .dates {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
}

.service-indicator .dates .date {
    flex: 1;
    padding: 5px;
    font-size: 10pt;
    text-align: center;
}

.service-indicator .dates.compact {
    margin-bottom: 0px;
}

.service-indicator .dates.compact .date {
    padding: 2px 4px;
}

.service-indicator .details {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 5px;
}

.service-indicator .title {
    margin-bottom: 5px;
    text-align: center;
}

.tab-button {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
    padding: 10px;
    margin: 0px;
    cursor: default;
    font-size: 13pt;
    font-weight: bold;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.tab-button ~ .tab-button {
    border-left-width: 0px;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-button.current:hover {
    cursor: default !important;
}

.theme-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.theme-control .button {
    display: inline-block;
}

.tooltip-anchor {
    position: relative;
}

.tooltip-anchor .tooltip {
    display: none;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    left: calc(100% + 5px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: -5px;
    border-radius: 5px;
    white-space: nowrap;
}

.tooltip-anchor:hover .tooltip {
    display: block;
}
