
a {
    text-decoration: none;
}

/* Get outta here with your default margins */
body, ol, ul, p, h1, h2, h3, h4, form {
    margin: 0px;
}

body.full-map #page-header {
    position: relative;
    z-index: 20;
    border-bottom-width: 0px;
    padding: 10px;
    border-radius: 10px;
    top: -10px;
    left: -10px;
}

body.full-map .tab-button-bar {
    margin-bottom: 0px;
}

input {
    -webkit-appearance: none;
}

input[type="text"] {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    opacity: 1;
}

form .input-container {
    display: flex;
    gap: 10px;
}

form .input-container input[type="text"] {
    flex: 1;
}

h1 .route {
    font-size: 20pt;
    min-width: 20px;
}

h2 .route {
    font-size: 16pt;
    min-width: 16px;
}

p svg {
    vertical-align: middle;
}

svg {
    fill: var(--image-color);
    width: var(--image-size);
    height: var(--image-size);
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border-width: 1px;
    border-style: solid;
}

table td {
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table th {
    text-align: left;
    vertical-align: top;
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table tr.divider {
    border-top-width: 4px;
    border-top-style: solid;
}

table tr.header td {
    padding: 4px 16px;
    font-weight: bold;
}

#banners {
    position: relative;
    z-index: 20;
}

#loading {
    position: relative;
    width: 300px;
    height: 36px;
    overflow: hidden;
}

#loading:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to left, rgba(0,0,0,0), var(--loading-background) 90%);
    width: 36px;
    height: 36px;
}

#loading:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--loading-background) 90%);
    width: 36px;
    height: 36px;
}

#loading-line {
    background-color: var(--loading-foreground);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 16px;
    bottom: 16px;
}

#loading-stop {
    background-color: var(--loading-foreground);
    position: absolute;
    left: -36px;
    border-radius: 36px;
    padding: 4px;
    --image-size: 28px;
}

#main {
    flex: 1;
    position: relative;
}

#map.full-screen {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#map.preview {
    height: 300px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
}


#map .ol-zoom {
    top: unset;
    bottom: 0.5em;
}

#map .ol-rotate {
    top: unset;
    right: unset;
    left: 0.5em;
    bottom: 4em;
}

#map .ol-touch .ol-rotate {
    bottom: 5em;
}

#map .ol-overlay-container:hover {
    z-index: 10;
}

#map-loading {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#map-toggle {
    position: absolute;
    z-index: 20;
    border-radius: 50%;
    bottom: 30px;
    right: 15px;
    padding: 8px;
    --image-size: 28px;
}

#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

#navigation-bar .navigation-icon {
    padding: 5px;
    margin: 0px 2px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    --image-size: 28px;
}

#navigation-bar .navigation-icon:hover {
    text-decoration: none;
}

#navigation-bar .navigation-icon .label {
    margin-right: 5px;
}

#navigation-bar .navigation-item {
    padding: 15px;
    text-decoration: none !important;
    font-size: 14pt;
    font-weight: normal;
}

#navigation-bar .navigation-item.disabled {
    cursor: default;
    opacity: 0.7;
}

#navigation-bar .title {
    font-weight: bold;
}

#nearby-status {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

#nearby-status.success {
    display: none;
}

#nearby-status #status-title {
    font-weight: bold;
}

#page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    --image-size: 18px;
}

#page-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#page-header h2 {
    font-weight: normal;
}

#quick-navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
}

#quick-navigation .item {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    --image-size: 48px;
}

#refresh-button {
    border-radius: 50%;
}

#refresh-button:hover {
    cursor: pointer;
}

#refresh-button.disabled {
    opacity: 50%;
    cursor: default;
}

#search {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

#search:focus {
    outline-width: 0px;
}

#search-count {
    text-align: center;
}

#search-filters {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

#search-filters .button {
    border-radius: 50%;
    padding: 4px;
}

#search-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#search-input {
    width: 100%;
}

#search-paging {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#search-placeholder {
    text-align: center;
}

#search-results {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    flex: 1;
}

#search-results .result {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#search-results .result .details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#side-bar {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

#status {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#status .details {
    flex: 1;
}

#system {
    font-weight: bold;
}

#system-menu {
    display: grid;
}

#system-menu .header {
    padding: 5px 20px;
    font-weight: bold;
}

#top-button {
    position: fixed;
    right: 40px;
    bottom: 20px;
    display: none;
}

.adherence-indicator {
    padding: 2px 4px;
    border-radius: 4px;
    min-width: 14px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 9pt;
    flex-shrink: 0;
    background-color: var(--adherence-background);
    color: var(--adherence-text);
}

.adherence-indicator.large {
    font-size: 12pt;
    line-height: 12pt;
    padding: 3px 6px;
}

.adornment {
    user-select: none;
}

.align-right {
    text-align: right;
}

.banner {
    margin: 0px;
    padding: 10px 20px;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}

.banner .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    --image-size: 24px;
}

.banner .close-button:hover {
    cursor: pointer;
}

.banner .title {
    font-weight: bold;
    font-size: 16pt;
}

.bearing.adherence {
    border-bottom-color: var(--adherence-background);
}

.bearing.occupancy {
    border-bottom-color: var(--occupancy-background);
}

.block-timeline {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.bold {
    font-weight: bold;
}

.bus {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.button {
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

.button.disabled {
    opacity: 0.4;
}

.button.disabled:hover {
    cursor: default;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.centred {
    text-align: center;
}

.code-block {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
    white-space: pre;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.column.left {
    align-items: flex-start;
}

.column.center {
    align-items: center;
}

.column.right {
    align-items: flex-end;
}

.column.stretch {
    align-items: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container > .section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container > .section > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.container > .section > .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container > .section.closed > .header > .toggle {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.display-none {
    display: none !important;
}

.events {
    display: grid;
    grid-template-columns: minmax(125px, auto) 1fr;
    gap: 10px;
}

.events .date {
    padding-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    --image-size: 20px;
}

.events ul {
    margin: 0px;
    padding-left: 20px;
}

.favourite {
    padding: 2px;
    border-radius: 50%;
    --image-size: 30px;
}

.favourite:hover {
    cursor: pointer;
}

.favourite.disabled:hover {
    cursor: initial;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.gap-0 {
    gap: 0px !important;
}

.gap-2 {
    gap: 2px !important;
}

.gap-5 {
    gap: 5px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-40 {
    gap: 40px !important;
}

.headsign {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-start;
}

.hidden {
    opacity: 0 !important;
}

.info-box {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

.info-box > .title {
    margin-bottom: 20px;
}

.info-box > .title:last-child {
    margin-bottom: 0px;
}

.info-box > .section {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.info-box > .section:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info-box > .section.column {
    align-items: stretch;
}

.info-box > .section.row {
    gap: 20px;
    justify-content: space-between;
}

.info-box > .section > .name {
    flex: 1;
}

.info-box > .section > .value {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: right;
}

.marker {
    position: relative;
    font-family: Helvetica, sans-serif;
}

.marker:hover {
    z-index: 10;
}

.marker .bearing {
    position: absolute;
    margin-top: -8px;
    margin-left: 2px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom-width: 26px;
    border-bottom-style: solid;
    transform-origin: center bottom;
    z-index: 1;
}

.marker .details {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    padding: 2px 3px;
    border-radius: 5px;
    z-index: 5;
}

.marker .details .content {
    font-size: 8pt;
    overflow: visible;
    line-height: 10pt;
    width: max-content;
    max-width: 150px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.marker .details .content .adherence-indicator {
    font-size: 8pt;
    line-height: 8pt;
    border-radius: 3px;
}

.marker .details .content .route {
    font-size: 8pt;
}

.marker .details .content .occupancy-name {
    font-size: 8pt;
}

.marker .details .content .row {
    justify-content: center;
}

.marker .details .title {
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    line-height: 10pt;
    width: max-content;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.marker .icon {
    display: block;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    padding: 4px;
    width: 24px;
    height: 24px;
    --image-size: 24px;
}

.marker .icon .link {
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
}

.marker .icon ~ .hover-only {
    display: none;
}

.marker .icon ~ * .hover-only {
    display: none;
}

.marker .icon:hover .link {
    opacity: 0.3;
    cursor: pointer;
}

.marker .icon:hover ~ .hover-only {
    display: inherit;
}

.marker .icon:hover ~ * .hover-only {
    display: inherit;
}

.marker .icon.adherence {
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    font-size: 11pt;
    vertical-align: middle;
    text-decoration: none;
    background-color: var(--adherence-background);
    color: var(--adherence-text);
}

.marker .icon.route {
    width: auto;
    height: auto;
    padding: 0px;
    border-radius: 0px;
}

.marker .icon.route .link {
    border-radius: 0px;
}

.marker .icon.route .number {
    padding: 2px 6px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 10pt;
    font-size: 10pt;
    vertical-align: middle;
}

.marker .icon.route:hover {
    text-decoration: none;
}

.marker .icon.bus_route {
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    font-size: 11pt;
    vertical-align: middle;
    text-decoration: none;
}

.marker .icon.occupancy {
    background-color: var(--occupancy-background);
    --image-color: var(--occupancy-foreground);
}

.marker.small .icon {
    width: 12px;
    height: 12px;
    padding: 2px;
    --image-size: 12px;
}

.marker.small .details {
    top: 20px;
}

.middle-align {
    vertical-align: middle;
}

.negative {
    font-weight: bold;
}

.news-post {
    border-width: 1px;
    border-style: solid;
}

.news-post .header {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}

.news-post .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.no-wrap {
    white-space: nowrap;
}

.occupancy-icon {
    padding: 1px 4px;
    border-radius: 4px;
    background-color: var(--occupancy-background);
    --image-color: var(--occupancy-foreground);
    --image-size: 14px;
}

.occupancy-icon.large {
    padding: 2px 4px;
    --image-size: 18px;
}

.options-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.options-container.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 10px;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.option .checkbox {
    border: 2px solid var(--checkbox-color);
    border-radius: 5px;
    width: 18px;
    height: 18px;
    --image-size: 18px;
    --image-color: var(--checkbox-color);
}

.option .checkbox svg {
    display: none;
}

.option .checkbox.selected svg {
    display: initial;
}

.option .radio-button {
    width: 12px;
    height: 12px;
    border: 2px solid var(--radio-button-color);
    border-radius: 50%;
    padding: 3px;
    flex-shrink: 0;
}

.option .radio-button.selected::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--radio-button-color);
}

.order-details .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.order-details .title {
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.page-container {
    display: flex;
}

.paging {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    align-self: flex-start;
    padding: 2px 0px;
}

.paging .page {
    border-width: 0px;
    border-radius: 5px;
    cursor: default;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
    user-select: none;
    font-size: 11pt;
    padding: 2px;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
}

.paging .page:hover {
    cursor: pointer;
}

.paging .page.current:hover {
    cursor: default;
}

.percentage {
    cursor: default;
    padding: 1px 4px;
    border-radius: 4px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.positive {
    font-weight: bold;
}

.route {
    display: inline-block;
    padding: 1px 6px;
    font-size: 11pt;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.route-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.route-list .route {
    font-size: 10pt;
}

.route-line {
    width: 4px;
    border-radius: 2px;
    flex-shrink: 0;
    align-self: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
}

.row.justify-center {
    justify-content: center;
}

.row.justify-right {
    justify-content: right;
}

.row.align-center {
    align-items: center;
}

.row.align-start {
    align-items: flex-start;
}

.row.space-between {
    justify-content: space-between;
}

.sheet {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}

.sheet .dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 10px;
}

.sheet .dates .month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sheet .dates .month .name {
    font-size: 13pt;
}

.sheet .dates .month.title .name {
    font-size: 14pt;
}

.sheet .dates .month .date {
    font-size: 11pt;
    padding: 1px 4px;
    border-radius: 4px;
    min-width: 14px;
    user-select: none;
    text-align: center;
    text-decoration: none;
}

.sheet .title {
    margin-bottom: 0px;
    text-align: center;
}

.sheet-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sheet-list .footer {
    width: 75%;
    margin: 0px auto 0px auto;
    font-size: 11pt;
    text-align: center;
}

.sheet-list .legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 11pt;
}

.sheet-list .legend .icon {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.tab-button-bar {
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-bottom: -6px;
    border-width: 1px;
    border-style: solid;
}

.tab-button {
    padding: 10px;
    cursor: default;
    font-size: 13pt;
    font-weight: bold;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-button.current:hover {
    cursor: default !important;
}

.timeline {
    position: relative;
    height: 15px;
    margin-top: 2px;
}

.timeline .now {
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 2px;
}

.timeline .section {
    position: absolute;
    height: 100%;
}

.timeline .section:hover {
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
    margin-left: -2px;
    z-index: 20;
}

.timeline .section.non-current {
    opacity: 0.2;
}

.timeline .section.non-current:hover {
    opacity: 1;
}

.timing-point {
    font-weight: bold;
}

.tooltip-anchor {
    display: inline-block;
    position: relative;
}

.tooltip-anchor .tooltip {
    background-color: var(--tooltip-background);
    color: var(--tooltip-text);
    display: none;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 5px;
    font-size: 11pt;
    font-family: Helvetica, sans-serif;
    text-align: left;
    width: max-content;
    max-width: 300px;
    font-weight: normal;
}

.tooltip-anchor .tooltip.left {
    right: calc(100% + 10px);
}

.tooltip-anchor .tooltip.left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent var(--tooltip-background);
    border-width: 5px 0px 5px 5px;
    border-style: solid;
}

.tooltip-anchor .tooltip.right {
    left: calc(100% + 10px);
}

.tooltip-anchor .tooltip.right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent var(--tooltip-background) transparent transparent;
    border-width: 5px 5px 5px 0px;
    border-style: solid;
}

.tooltip-anchor:hover > .tooltip {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tooltip-anchor .tooltip .title {
    font-weight: bold;
}

.weekdays {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    border-radius: 5px;
}

.weekdays .weekday {
    flex: 1;
    font-size: 11pt;
    text-align: center;
    padding: 7px 5px;
    user-select: none;
    text-decoration: none;
}

.weekdays.compact .weekday {
    padding: 2px 5px;
}
