
body {
    font-size: 14pt;
}

form input[type="text"] {
    font-size: 14pt;
    margin-right: 10px;
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.mobile-only {
    display: none;
}

.button {
    font-size: 12pt;
    vertical-align: middle;
}

.sub-navbar-system {
    display: inline-block;
}

.sub-navbar-date {
    display: inline-block;
    font-size: 12pt;
    margin-left: 10px;
}

.smaller-font {
    font-size: 11pt;
}

.sidebar {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 25%;
}

.sidebar table {
    width: 100%;
}

.body {
    float: none;
    overflow: hidden;
}

.dropdown {
    position: relative;
    cursor: default;
    user-select: none;
    overflow: visible !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 52px;
    right: 0px;
    min-width: 200%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.dropdown-content .dropdown-table {
    padding: 0px;
    margin: 0px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.dropdown-content .dropdown-title {
    padding: 12px;
    font-size: 12pt;
    color: grey;
}

.dropdown-content a {
    padding: 12px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-table tr {
    height: 100%;
}

.dropdown-content .dropdown-table tr td {
    height: 100%;
    padding: 0px;
}

.dropdown-content .dropdown-table tr td a {
    padding: 12px;
    font-size: 14pt;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 100%;
}

.dropdown-content a:hover {
    background-color: #e6e6e6
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-container {
    margin: -20px;
}

.list-container .list-navigation {
    display: inline-block;
    margin: 20px 20px -5px 20px;
    font-size: 0pt;
}

.list-container .list-navigation .button {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.list-container .list-content {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.list-container .list-content.no-inline {
    display: block !important;
}

.list-container .list-content table:last-child {
    margin-bottom: 0px;
}