
body {
    font-size: 13pt;
}

form input[type="text"] {
    font-size: 16pt;
    margin-bottom: 10px;
    width: 100%;
}

form label {
    font-size: 13pt;
}

button {
    width: 100%;
}

a {
    font-weight: bold;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

.navbar-title {
    font-size: 18pt;
}

.sub-navbar-system {
    font-size: 14pt;
}

.desktop-only {
    display: none;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.mobile-navbar-item {
    display: block;
    color: white;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

.mobile-navbar-toggle {
    float: right;
    display: block;
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

.mobile-navbar-toggle-line {
    background-color: white;
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

.smaller-font {
    font-size: 11pt;
}

.fixed-table {
    table-layout: fixed;
}

.list-navigation .button {
    margin-bottom: 10px;
}

.list-navigation .button:last-child {
    margin-bottom: 0px;
}

#mobile-navbar {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
    background-color: #255325;
}
