
a {
    text-decoration: none;
}

body {
    margin: 0px;
}

input {
    -webkit-appearance: none;
}

input[type="text"] {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::placeholder {
    opacity: 1;
}

form .input-container {
    display: flex;
    gap: 10px;
}

form .input-container input[type="text"] {
    flex: 1;
}

hr {
    margin: 0px;
    border-width: 0px;
    border-top-width: 2px;
    border-top-style: solid;
}

h1, h2, h3, h4 {
    margin: 0px;
}

h1 .route-number {
    font-size: 20pt;
    min-width: 20px;
}

h2 .route-number {
    font-size: 16pt;
    min-width: 16px;
}

img.inline {
    height: 18px;
    width: 18px;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0px;
}

table.striped {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border-width: 1px;
    border-style: solid;
}

table.striped td {
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table.striped td * {
    vertical-align: middle;
}

table.striped th {
    text-align: left;
    vertical-align: top;
    border-width: 0 0 1 0px;
    border-style: solid;
    margin: 0px;
    overflow: visible;
    padding: 0.5em 1em;
}

table.striped tr.divider {
    border-top-width: 4px;
    border-top-style: solid;
}

table.striped tr.section td {
    padding: 4px 16px;
    font-weight: bold;
}

#banners {
    position: relative;
    z-index: 20;
}

#main {
    flex: 1;
    overflow: auto;
    position: relative;
}

#map.full-screen {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#map.preview {
    height: 300px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
}

#map.z-override {
    z-index: 30;
}

#map-toggle {
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    bottom: 40px;
    right: 15px;
}

#map-toggle.active {
    z-index: 40;
}

#map-toggle img {
    width: 28px;
    height: 28px;
    margin: 8px;
}

#navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

#navigation-bar .navigation-icon {
    padding: 5px;
    margin: 0px 2px;
    border-radius: 50%;
}

#navigation-bar .navigation-icon:hover {
    text-decoration: none;
}

#navigation-bar .navigation-icon img {
    width: 24px;
    height: 24px;
}

#navigation-bar .navigation-item {
    padding: 15px;
    text-decoration: none !important;
    font-size: 14pt;
    font-weight: normal;
}

#navigation-bar .navigation-item.disabled {
    cursor: default;
    opacity: 0.7;
}

#navigation-bar .title {
    font-weight: bold;
}

#quick-navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
}

#quick-navigation .item {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

#quick-navigation .item img {
    width: 48px;
    height: 48px;
}

#refresh-button {
    border-radius: 50%;
}

#refresh-button:hover {
    cursor: pointer;
}

#refresh-button.disabled {
    opacity: 50%;
    cursor: default;
}

#side-bar {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

#status {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#status .content {
    flex: 1;
}

#system {
    font-weight: bold;
}

#system-menu {
    display: grid;
}

#system-menu .header {
    padding: 5px 20px;
    font-weight: bold;
}

#top-button {
    position: fixed;
    right: 40px;
    bottom: 20px;
    display: none;
}

.adherence-indicator {
    padding: 2px 4px;
    border-radius: 4px;
    min-width: 14px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 9pt;
    flex-shrink: 0;
}

.adherence-indicator.large {
    font-size: 12pt;
    line-height: 12pt;
    padding: 3px 6px;
}

.banner {
    margin: 0px;
    padding: 10px 20px;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}

.banner .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.banner .close-button img {
    width: 24px;
    height: 24px;
}

.banner .close-button:hover {
    cursor: pointer;
}

.banner .title {
    font-weight: bold;
    font-size: 16pt;
}

.bold {
    font-weight: bold;
}

.button {
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.button:hover {
    cursor: pointer;
}

.button.disabled:hover {
    cursor: default;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.centred {
    text-align: center;
}

.checkbox {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.checkbox .box {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.checkbox .label {
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container > .section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display-none {
    display: none !important;
}

.events {
    display: grid;
    grid-template-columns: minmax(125px, auto) 1fr;
    gap: 10px;
}

.events .date {
    padding-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
}

.events .date img {
    width: 20px;
    height: 20px;
}

.events ul {
    margin: 0px;
    padding-left: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-container {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.flex-row.left {
    justify-content: left;
}

.flex-row.center {
    justify-content: center;
}

.flex-row.right {
    justify-content: right;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-gap-0 {
    gap: 0px;
}

.flex-gap-2 {
    gap: 2px;
}

.flex-gap-5 {
    gap: 5px;
}

.flex-gap-10 {
    gap: 10px
}

.flex-gap-20 {
    gap: 20px;
}

.flex-gap-40 {
    gap: 40px;
}

.hidden {
    opacity: 0 !important;
}

.info-box {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

.info-box .title {
    margin-bottom: 20px;
}

.info-box .title:last-child {
    margin-bottom: 0px;
}

.info-box .section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.info-box .section.vertical {
    flex-direction: column;
    gap: 5px;
}

.info-box .section.no-flex {
    display: block;
}

.info-box .section.vertical-align {
    align-items: center;
}

.info-box .section:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info-box .section > .name {
    flex: 1;
}

.info-box .section > .value {
    text-align: right;
}

.marker {
    position: relative;
}

.marker:hover {
    z-index: 10;
}

.marker .bearing {
    position: absolute;
    margin-top: -8px;
    margin-left: 2px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom-width: 26px;
    border-bottom-style: solid;
    transform-origin: center bottom;
    z-index: 1;
}

.marker .details {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    padding: 2px 3px;
    border-radius: 5px;
    z-index: 5;
}

.marker .details .content {
    font-size: 8pt;
    overflow: visible;
    line-height: 10pt;
    width: max-content;
    max-width: 150px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.marker .details .content .adherence-indicator {
    font-size: 8pt;
    line-height: 8pt;
    border-radius: 3px;
}

.marker .details .content .route-number {
    font-size: 8pt;
}

.marker .details .title {
    font-size: 8pt;
    text-align: center;
    font-weight: bold;
    line-height: 10pt;
    width: max-content;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.marker .icon {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.marker .icon img {
    margin: 4px;
    width: 24px;
    height: 24px;
}

.marker .icon .link {
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
}

.marker .icon ~ .hover-only {
    display: none;
}

.marker .icon ~ * .hover-only {
    display: none;
}

.marker .icon:hover .link {
    opacity: 0.3;
    cursor: pointer;
}

.marker .icon:hover ~ .hover-only {
    display: inherit;
}

.marker .icon:hover ~ * .hover-only {
    display: inherit;
}

.marker .icon.route {
    width: auto;
    height: auto;
    border-radius: 0px;
}

.marker .icon.route .link {
    border-radius: 0px;
}

.marker .icon.route .number {
    padding: 2px 6px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 10pt;
    font-size: 10pt;
    vertical-align: middle;
}

.marker .icon.route:hover {
    text-decoration: none;
}

.marder .icon.route .link {
    border-radius: 0px;
}

.marker.small .icon {
    width: 16px !important;
    height: 16px !important;
}

.marker.small .icon img {
    margin: 2px;
    width: 12px;
    height: 12px;
}

.marker.small .details {
    top: 20px;
}

.middle-align {
    vertical-align: middle;
}

.negative {
    font-weight: bold;
}

.news-post {
    border-width: 1px;
    border-style: solid;
}

.news-post .header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}

.news-post .content {
    padding: 10px;
}

.news-post .content p + ul {
    margin-top: -5px;
}

.no-wrap {
    white-space: nowrap;
}

.order-indicator .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.order-indicator .title {
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.page-header {
    margin-bottom: 20px;
}

.page-header.map-page {
    position: relative;
    z-index: 20;
}

.page-header.map-page .tab-button {
    border-bottom-width: 2px;
}

.page-header .subtitle {
    font-weight: normal;
    margin-bottom: 5px;
}

.page-header .title {
    margin-bottom: 5px;
}

.positive {
    font-weight: bold;
}

.route-indicator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.route-indicator .route-number {
    font-size: 10pt;
}

.route-line {
    width: 4px;
    border-radius: 2px;
    flex-shrink: 0;
    align-self: stretch;
}

.route-number {
    display: inline-block;
    padding: 1px 6px;
    font-size: 11pt;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.schedules .exceptions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 10px;
}

.schedules .exceptions .month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.schedules .exceptions .month .name {
    font-size: 13pt;
}

.schedules .exceptions .month .date {
    font-size: 11pt;
    padding: 1px 4px;
    border-radius: 4px;
    min-width: 14px;
    user-select: none;
    text-align: center;
    text-decoration: none;
}

.schedules .footer {
    width: 75%;
    margin: 10px auto 0px auto;
    font-size: 11pt;
    text-align: center;
}

.schedules .legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 11pt;
}

.schedules .legend .icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.schedules .schedule {
    margin-top: 10px;
}

.schedules .schedule .title {
    margin-bottom: 5px;
    text-align: center;
}

.tab-button {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
    padding: 10px;
    margin: 0px;
    cursor: default;
    font-size: 13pt;
    font-weight: bold;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.tab-button ~ .tab-button {
    border-left-width: 0px;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-button.current:hover {
    cursor: default !important;
}

.timing-point {
    font-weight: bold;
}

.tooltip-anchor {
    display: inline-block;
    position: relative;
}

.tooltip-anchor .tooltip {
    display: none;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    left: calc(100% + 10px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 5px;
    font-size: 11pt;
    font-family: Helvetica, sans-serif;
    text-align: left;
    width: max-content;
    max-width: 300px;
}

.tooltip-anchor .tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px 5px 5px 0px;
    border-style: solid;
}

.tooltip-anchor:hover > .tooltip {
    display: block;
}

.tooltip-anchor .tooltip .title {
    font-weight: bold;
}

.weekdays {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    border-radius: 5px;
}

.weekdays .weekday {
    flex: 1;
    font-size: 11pt;
    text-align: center;
    padding: 7px 5px;
    user-select: none;
    text-decoration: none;
}

.weekdays.compact .weekday {
    padding: 2px 5px;
}
