
a {
    font-weight: bold;
}

body {
    font-size: 13pt;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
    margin-bottom: 10px;
    width: 100%;
}

form input[type="submit"] {
    width: 100%;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

#header .title {
    font-size: 18pt;
}

#header .menu-toggle {
    float: right;
    display: block;
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

#header .menu-toggle .line {
    background-color: white;
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

#header .search-non-desktop-toggle {
    float: right;
    display: block;
    padding: 10px;
}

#menu {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
    background-color: #255325;
}

#menu .header-button {
    display: block;
    color: white;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

#search-non-desktop {
    padding: 20px;
    background-color: #255325;
    font-family: Helvetica, sans-serif;
}

#search-non-desktop input[type="text"] {
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    -webkit-appearance: none;
    background-color: white;
    color: black;
    width: 100%;
}

#search-non-desktop input[type="text"]:focus {
    outline: none;
    border: 2px solid #49a348;
}

#search-non-desktop #search-non-desktop-results {
    margin-top: 10px;
}

#search-non-desktop #search-non-desktop-results .message {
    padding: 10px 0px;
    color: #cbcbcb;
    text-align: center;
    font-size: 16pt;
}

#search-non-desktop #search-non-desktop-results a {
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16pt;
}

#search-non-desktop #search-non-desktop-results a .lighter-text {
    color: #cbcbcb;
}

#subheader-system {
    font-size: 14pt;
}

#top-button {
    right: 40px;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.container .navigation .button {
    margin-bottom: 10px;
}

.container .navigation .button:last-child {
    margin-bottom: 0px;
}

.desktop-only {
    display: none;
}

.fixed-table {
    table-layout: fixed;
}

.non-mobile {
    display: none;
}

.smaller-font {
    font-size: 11pt;
}

.tablet-only {
    display: none;
}
