
a {
    font-weight: bold;
}

body {
    font-size: 13pt;
}

button {
    width: 100%;
}

form input[type="text"] {
    font-size: 16pt;
    margin-bottom: 10px;
    width: 100%;
}

form label {
    font-size: 13pt;
}

table {
    width: 100%;
    display: table;
    font-size: 13pt;
}

#header .title {
    font-size: 18pt;
}

#header .mobile-toggle {
    float: right;
    display: block;
    padding: 5px;
    margin: 5px 10px 5px 0px;
}

#header .mobile-toggle .line {
    background-color: white;
    width: 32px;
    height: 4px;
    border-radius: 2px;
    margin: 6px;
}

#mobile-header {
    position: relative;
    z-index: 10;
    margin: 0px;
    padding: 5px 0px;
    overflow: hidden;
    background-color: #255325;
}

#mobile-header .header-button {
    display: block;
    color: white;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

#subheader-system {
    font-size: 14pt;
}

.button {
    font-size: 14pt;
    overflow: hidden;
    display: block;
}

.container .navigation .button {
    margin-bottom: 10px;
}

.container .navigation .button:last-child {
    margin-bottom: 0px;
}

.desktop-only {
    display: none;
}

.fixed-table {
    table-layout: fixed;
}

.non-mobile {
    display: none;
}

.smaller-font {
    font-size: 11pt;
}

.tablet-only {
    display: none;
}
