<html>
<head> <title> {{title}} </title>
<link rel="stylesheet" href="/style.css">
<style>
  .navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49a348;
  }
  .navitem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
  }
  .navitem:hover {
  background-color: #255325;
}
</style>
</head>
<body>

<ul class="navlist">
  <li><a class="navitem" href="/">BCTracker</a></li>
  <li><a class="navitem" href="/all-busses">Realtime</a></li>
  <li><a class="navitem" href="/routes">All Routes</a></li>
  <li><a class="navitem" href="/blocks">All Blocks</a></li>
  <li><a class="navitem" href="/history">Vehicle History</a></li>
  <li><a class="navitem" href="/about">About</a></li>
</ul>

<div>
