
.modified-service {
    background-color: #FFB000;
    color: #000000;
}

.no-service {
    background-color: #DC267F;
    color: #000000;
}

.normal-service {
    background-color: #648FFF;
    color: #000000;
}

.occupancy-empty {
    --occupancy-background: #3D74FF;
}

.occupancy-many-seats {
    --occupancy-background: #3D74FF;
}

.occupancy-few-seats {
    --occupancy-background: #3D74FF;
}

.occupancy-standing-room {
    --occupancy-background: #C68900;
}

.occupancy-crushed {
    --occupancy-background: #C68900;
}

.occupancy-full {
    --occupancy-background: #D50068;
}

.percentage.low {
    background-color: #DC267F;
}

.percentage.low.inverted {
    background-color: #648FFF;
}

.percentage.mid {
    background-color: #FFB000;
}

.percentage.high {
    background-color: #648FFF;
}

.percentage.high.inverted {
    background-color: #DC267F;
}

.sheet a.modified-service:hover {
    background-color: #C68900;
}

.sheet a.no-service:hover {
    background-color: #D50068;
}

.sheet a.normal-service:hover {
    background-color: #3D74FF;
}

.weekdays a.weekday.no-service:hover {
    background-color: #D50068;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #3D74FF;
}
