<html>
  <head>
    <title> Choose a Trip </title>
  </head>
  
  <body>
    <a href="/"> Back to Top</a><br>
    <br />
    <h3> Viewing: {{routenum}} {{routename}} </h3>
    <br />
    All trips for Route {{routenum}} by the time of their first stop<hr>

    <%
     for day_str in day_triplistdict:
       trip_list = day_triplistdict[day_str]
       ib_trips = [trip for trip in trip_list if trip.directionid == '0']
       ob_trips = [trip for trip in trip_list if trip.directionid == '1']
    %>
      <br />
      <h3>{{day_str}}</h3>

    %  if(len(ob_trips) != 0):
         <h5> Outbound Trips ({{len(ob_trips)}}):</h5>
    %    include('pages/templates/triplist.templ', triplist=ob_trips)
    %  end

    % if(len(ib_trips) != 0):
       <br />
       <h5> Inbound Trips ({{len(ib_trips)}}):</h5>
    %    include('pages/templates/triplist.templ', triplist=ib_trips)
    % end

    %end
  </body>
</html>
