/* COLOR REFERENCE
 * 
 * Primary Background: #FFFFFF
 * Secondary Background: #E6E6E6
 * Primary Header: #1A671A
 * Secondary Header: #48A348
 * Menu: #094409
 * Borders: #666666
 * Selection: #CBCBCB
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #0040FF
 * Buttons: #365CCB
 * 
 * Other colors may also be used for specific purposes
*/

:root {
    --tooltip-background: #666666;
    --tooltip-text: #FFFFFF;
    
    --loading-background: #FFFFFF;
    --loading-foreground: #48A348;
    
    --adherence-background: #989898;
    --adherence-text: #FFFFFF;
    
    --checkbox-color: #365CCB;
    --radio-button-color: #365CCB;
}

a {
    color: #0040FF;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

body.full-map #page-header {
    background-color: rgba(255, 255, 255, 0.7);
}

body.full-map #page-header .option {
    --hover-background: #FFFFFF;
}

input[type="text"] {
    border-color: #666666;
    background-color: #FFFFFF;
    color: #000000;
}

input[type="text"]:focus {
    border-color: #094409;
}

table {
    border-color: #666666;
}

table tbody tr:hover {
    background-color: #CBCBCB;
}

table tbody tr.header {
    background-color: #666666;
    color: #FFFFFF;
}

table td {
    border-color: #666666;
}

table th {
    background-color: #48A348;
    color: #FFFFFF;
    border-color: #666666;
}

table tr {
    background-color: #FFFFFF;
}

table tr:nth-child(2n-1) {
    background-color: #E6E6E6;
}

#loading-stop {
    --image-color: #FFFFFF;
}

#map.preview {
    border-color: #666666;
}

#map-toggle {
    background-color: #365CCB;
    --image-color: #FFFFFF;
}

#navigation-bar {
    background-color: #1A671A;
    --tooltip-background: #094409;
    --image-color: #FFFFFF;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: #094409;
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #1A671A !important;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: #094409;
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #1A671A !important;
}

#navigation-menu {
    background-color: #094409;
}

#navigation-menu .menu-button {
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#navigation-menu .menu-button.disabled {
    color: #ABABAB;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: #E6E6E6;
    border-color: #666666;
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #FFCCCC;
}

#page {
    --image-color: #000000;
}

#page-header {
    border-bottom-color: #666666;
}

#quick-navigation .item {
    background-color: #E6E6E6;
    border-color: #666666;
}

#refresh-button {
    --image-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #094409;
}

#refresh-button.disabled:hover {
    background-color: #48A348;
}

#search {
    background-color: #E6E6E6;
    border-color: #666666;
}

#search-header {
    background-color: #48A348;
    color: #FFFFFF;
    border-color: #666666;
    --tooltip-background: #094409;
}

#search-input {
    border-color: #FFFFFF;
}

#search-input:focus {
    border-color: #094409;
}

#search-paging {
    background-color: #FFFFFF;
    border-color: #666666;
}

#search-placeholder {
    color: #666666;
}

#search-results {
    --image-color: #000000;
}

#search-results .result {
    color: #000000;
}

#search-results .result:hover {
    background-color: #CBCBCB;
}

#search-results .result.keyboard-selected {
    background-color: #CBCBCB;
}

#search-results .result .description {
    color: #666666;
}

#side-bar {
    border-right-color: #666666;
}

#side-bar-toggle {
    background-color: #E6E6E6;
}

#side-bar-toggle:hover {
    background-color: #CBCBCB;
}

#status {
    background-color: #48A348;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

#system-menu {
    background-color: #E6E6E6;
    border-bottom-color: #666666;
}

#system-menu .header {
    background-color: #666666;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #000000;
}

#system-menu .system-button:hover {
    background-color: #CBCBCB;
}

#system-menu .system-button.current {
    background-color: #CBCBCB;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    --image-color: #FFFFFF;
}

#title {
    background-color: #1A671A;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#title:hover {
    background-color: #094409;
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.button {
    background-color: #365CCB;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.button:hover {
    background-color: #1440C2;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.inactive {
    background-color: #ABABAB;
}

.button.inactive:hover {
    background-color: #666666;
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.code-block {
    background-color: #E6E6E6;
    border-color: #666666;
}

.container > .section > .header {
    border-bottom-color: #666666;
}

.container > .section > .header > .toggle {
    --image-color: #365CCB;
}

.events .date {
    border-right-color: #CBCBCB;
}

.favourite {
    --image-color: #365CCB;
}

.favourite:hover {
    background-color: #E6E6E6;
}

.favourite.disabled {
    --image-color: #666666;
}

.favourite.disabled:hover {
    background-color: initial;
}

.info-box {
    background-color: #E6E6E6;
    border-color: #666666;
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.info-box .option {
    --hover-background: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #48A348;
    --image-color: #FFFFFF;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.marker .icon.bus_route {
    color: #FFFFFF;
}

.news-post {
    background-color: #E6E6E6;
    border-color: #666666;
}

.news-post .header {
    background-color: #48A348;
    color: white;
    border-bottom-color: #666666;
}

.option {
    --hover-background: #E6E6E6;
}

.option .checkbox {
    background-color: #FFFFFF;
}

.option .radio-button {
    background-color: #FFFFFF;
}

.order-details .content .separator {
    color: #666666;
}

.paging .page {
    background-color: #E6E6E6;
    color: #000000;
}

.paging .page:hover {
    background-color: #CBCBCB;
}

.paging .page.current {
    background-color: #365CCB;
    color: #FFFFFF;
}

.paging .page.current:hover {
    background-color: #365CCB;
}

.record-warnings {
    --image-color: #FF0000;
}

.route {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
}

.scheduled {
    --image-color: #666666;
}

.sheet {
    background-color: #DDDDDD;
}

.sheet-list .footer {
    color: #666666;
}

.sheet-list .legend {
    color: #666666;
}

.tab-button-bar {
    background: #666666;
    border-color: #666666;
}

.tab-button {
    background-color: #FFFFFF;
    color: #0040FF;
}

.tab-button:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

.tab-button.current {
    background-color: #CBCBCB;
    color: #000000;
}

.timeline .now {
    background-color: #FF0000;
}

.timeline .section:hover {
    border-color: #666666;
}
