/* COLOR REFERENCE
 * 
 * Primary Background: #FFFBEF
 * Secondary Background: #D8D8D8
 * Primary Header: #61C315
 * Secondary Header: #249B9B
 * Menu: #347800
 * Borders: #666666
 * Selection: #CBCBCB
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #026E6E
 * Buttons: #61C315
 * 
 * Other colors may also be used for specific purposes
*/

a {
    color: #026E6E;
}

body {
    background-color: #FFFBEF;
    color: #000000;
}

body.full-map .page-header {
    background-color: rgba(255, 255, 255, 0.7);
}

input[type="text"] {
    border-color: #666666;
    background-color: #FFFFFF;
    color: #000000;
}

input[type="text"]:focus {
    border-color: #347800;
}

table.striped {
    border-color: #666666;
}

table.striped tbody tr:hover {
    background-color: #CBCBCB;
}

table.striped tbody tr.section {
    background-color: #666666;
    color: #FFFFFF;
}

table.striped td {
    border-color: #666666;
}

table.striped th {
    background-color: #249B9B;
    color: #FFFFFF;
    border-color: #666666;
}

table.striped tr {
    background-color: #FFFFFF;
}

table.striped tr:nth-child(2n-1) {
    background-color: #D8D8D8;
}

#content img.white {
    display: none;
}

#map.preview {
    border-color: #666666;
}

#map-toggle {
    background-color: #61C315;
}

#map-toggle-icon-black {
    display: none;
}

#navigation-bar {
    background-color: #61C315;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: #347800;
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #61C315 !important;
}

#navigation-bar .navigation-icon img.black {
    display: none;
}

#navigation-bar .navigation-icon .tooltip {
    background-color: #347800;
}

#navigation-bar .navigation-icon .tooltip::after {
    border-color: transparent #347800 transparent transparent;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: #347800;
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #61C315 !important;
}

#navigation-bar .navigation-item img.black {
    display: none;
}

#navigation-menu {
    background-color: #347800;
}

#navigation-menu .menu-button {
    color: #FFFFFF;
}

#navigation-menu .menu-button.disabled {
    color: #ABABAB;
}

#navigation-menu .menu-button img.black {
    display: none;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: #D8D8D8;
    border-color: #666666;
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #FFCCCC;
}

#quick-navigation .item {
    background-color: #D8D8D8;
    border-color: #666666;
}

#refresh-button:hover {
    background-color: #026E6E;
}

#refresh-button.disabled:hover {
    background-color: #249B9B;
}

#refresh-button img.black {
    display: none;
}

#search {
    background-color: #D8D8D8;
    border-color: #666666;
}

#search-count {
    color: #666666;
}

#search-filters {
    color: #666666;
}

#search-filters .filter-button img.black {
    display: none;
}

#search-placeholder {
    color: #666666;
}

#search-results img.white {
    display: none;
}

#search-results .result {
    color: #000000;
}

#search-results .result:hover {
    background-color: #CBCBCB;
}

#search-results .result.keyboard-selected {
    background-color: #CBCBCB;
}

#search-results .result .description {
    color: #666666;
}

#side-bar {
    border-right-color: #666666;
}

#side-bar-toggle {
    background-color: #E6E6E6;
}

#side-bar-toggle:hover {
    background-color: #CBCBCB;
}

#status {
    background-color: #249B9B;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

#system-menu {
    background-color: #E6E6E6;
    border-bottom-color: #666666;
}

#system-menu .header {
    background-color: #666666;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #000000;
}

#system-menu .system-button:hover {
    background-color: #CBCBCB;
}

#system-menu .system-button.current {
    background-color: #CBCBCB;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle img.black {
    display: none;
}

#title {
    background-color: #61C315;
    color: #FFFFFF;
}

#title:hover {
    background-color: #347800;
}

#title img.black {
    display: none;
}

.adherence-indicator {
    color: #FFFFFF;
}

.adherence-indicator.ahead {
    background-color: #FF9A3A
}

.adherence-indicator.behind {
    background-color: #FF9A3A;
}

.adherence-indicator.on-time {
    background-color: #3C5ABE;
}

.adherence-indicator.very-ahead {
    background-color: #FD393E;
}

.adherence-indicator.very-behind {
    background-color: #FD393E;
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.banner .close-button img.black {
    display: none;
}

.block-indicator .now {
    background-color: #FF0000;
}

.block-indicator .trip:hover {
    border-color: #666666;
}

.button {
    background-color: #61C315;
    color: #FFFFFF;
}

.button:hover {
    background-color: #347800;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.inactive {
    background-color: #ABABAB;
}

.button.inactive:hover {
    background-color: #666666;
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.button img.black {
    display: none;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox .box img.white {
    display: none;
}

.code-block {
    background-color: #E6E6E6;
    border-color: #666666;
}

.dropdown .content {
    background-color: #FFFFFF;
}

.dropdown .content .dropdown-button {
    color: #000000;
}

.dropdown .content .dropdown-button:hover {
    background-color: #D8D8D8;
}

.dropdown .content .dropdown-button.disabled {
    color: #666666;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #FFFFFF;
}

.dropdown .content .header {
    background-color: #CBCBCB;
    color: #000000;
}

.events .date {
    border-right-color: #CBCBCB;
}

.info-box {
    background-color: #D8D8D8;
    border-color: #666666;
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #61C315;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.marker .icon.bus_route {
    color: #FFFFFF;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #D8D8D8;
    border-color: #666666;
}

.news-post .header {
    background-color: #249B9B;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

.order-indicator .content .separator {
    color: #666666;
}

.page-header {
    border-bottom-color: #666666;
}

.positive {
    color: #1A671A;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
}

.sheets-indicator .footer {
    color: #666666;
}

.sheets-indicator .legend {
    color: #666666;
}

.sheets-indicator a.normal-service:hover {
    background-color: #509F5E;
}

.sheets-indicator a.modified-service:hover {
    background-color: #E6853A;
}

.sheets-indicator a.no-service:hover {
    background-color: #DC5050;
}

.sheets-indicator .normal-service {
    background-color: #7DBD88;
    color: #000000;
}

.sheets-indicator .modified-service {
    background-color: #FFA560;
    color: #000000;
}

.sheets-indicator .no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.sheets-indicator .sheet {
    background-color: #CCCCCC;
}

.tab-button-bar {
    background: #666666;
    border-color: #666666;
}

.tab-button {
    background-color: #FFFFFF;
    color: #026E6E;
}

.tab-button:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.tab-button.current {
    background-color: #CBCBCB;
    color: #000000;
}

.tooltip-anchor .tooltip {
    background-color: #666666;
    color: #FFFFFF;
}

.tooltip-anchor .tooltip::after {
    border-color: transparent #666666 transparent transparent;
}

.weekdays a.weekday.no-service:hover {
    background-color: #DC5050;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #509F5E;
}

.weekdays .weekday {
    background-color: #C4C4C4;
    color: #000000;
}

.weekdays .weekday.no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.weekdays .weekday.normal-service {
    background-color: #7DBD88;
    color: #000000;
}
