/* COLOR REFERENCE
 * 
 * Primary Background: #FFFBEF
 * Secondary Background: #D8D8D8
 * Primary Header: #61C315
 * Secondary Header: #249B9B
 * Menu: #347800
 * Borders: #666666
 * Selection: #CBCBCB
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #026E6E
 * Buttons: #61C315
 * 
 * Other colors may also be used for specific purposes
*/

a {
    color: #026E6E;
}

body {
    background-color: #FFFBEF;
    color: #000000;
}

form input[type="text"] {
    border-color: #666666;
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"]:focus {
    border-color: #347800;
}

hr {
    border-top-color: #666666;
}

table.striped {
    border-color: #666666;
}

table.striped tbody tr:hover {
    background-color: #CBCBCB;
}

table.striped tbody tr.section {
    background-color: #666666;
    color: #FFFFFF;
}

table.striped td {
    border-color: #666666;
}

table.striped th {
    background-color: #249B9B;
    color: #FFFFFF;
    border-color: #666666;
}

table.striped tr {
    background-color: #FFFFFF;
}

table.striped tr:nth-child(2n-1) {
    background-color: #D8D8D8;
}

#content img.white {
    display: none;
}

#map.preview {
    border-color: #666666;
}

#map-toggle {
    background-color: #61C315;
}

#map-toggle-icon-black {
    display: none;
}

#navigation-bar {
    background-color: #61C315;
}

#navigation-bar .navigation-button {
    color: #FFFFFF;
}

#navigation-bar .navigation-button:hover {
    background-color: #347800;
}

#navigation-bar .navigation-button.disabled:hover {
    background-color: #61C315 !important;
}

#navigation-bar .navigation-button img.black {
    display: none;
}

#navigation-menu-theme {
    color: #FFFFFF;
}

#navigation-menu-theme a {
    color: #FFFFFF;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #026E6E;
}

#refresh-button.disabled:hover {
    background-color: #249B9B;
}

#refresh-button img.black {
    display: none;
}

#search-desktop {
    color: #FFFFFF;
}

#search-desktop > img.black {
    display: none;
}

#search-desktop input[type="text"] {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

#search-desktop input[type="text"]:focus {
    border-color: #347800;
}

#search-desktop input[type="text"]::placeholder {
    color: #666666;
}

#search-desktop input[type="text"]:-ms-input-placeholder {
    color: #666666;
}

#search-desktop input[type="text"]::-ms-input-placeholder {
    color: #666666;
}

#search-desktop-results {
    background-color: #FFFFFF;
}

#search-desktop-results .keyboard-selected {
    background-color: #CBCBCB;
}

#search-desktop-results .message {
    color: #666666;
}

#search-desktop-results .result {
    color: #000000;
}

#search-desktop-results .result:hover {
    background-color: #D8D8D8;
}

#search-desktop-results .result img.white {
    display: none;
}

#search-non-desktop input[type="text"] {
    border-color: #FFFFFF;
}

#search-non-desktop input[type="text"]:focus {
    border-color: #61C315;
}

#search-non-desktop-results .message {
    color: #FFFFFF;
}

#search-non-desktop-results .result {
    color: #FFFFFF;
}

#search-non-desktop-results .result .lighter-text {
    color: #CBCBCB;
}

#search-non-desktop-results .result img.black {
    display: none;
}

#search-non-desktop-toggle img.black {
    display: none;
}

#side-bar {
    border-right-color: #666666;
}

#status {
    background-color: #249B9B;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

#system-menu {
    background-color: #E6E6E6;
    border-bottom-color: #666666;
}

#system-menu .header {
    background-color: #666666;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #000000;
}

#system-menu .system-button:hover {
    background-color: #CBCBCB;
}

#system-menu .system-button.current {
    background-color: #CBCBCB;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle img.black {
    display: none;
}

#theme {
    background-color: #249B9B;
    color: #FFFFFF;
    border-top-color: #666666;
}

#theme a {
    color: #FFFFFF;
}

.adherence-indicator {
    color: #FFFFFF;
}

.adherence-indicator.ahead {
    background-color: #FF9A3A
}

.adherence-indicator.behind {
    background-color: #FF9A3A;
}

.adherence-indicator.on-time {
    background-color: #3C5ABE;
}

.adherence-indicator.very-ahead {
    background-color: #FD393E;
}

.adherence-indicator.very-behind {
    background-color: #FD393E;
}

.banner {
    background-color: #FFB960;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.banner .close-button img.black {
    display: none;
}

.button {
    background-color: #61C315;
    color: #FFFFFF;
}

.button:hover {
    background-color: #347800;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.survey-button {
    background-color: #FF8E00;
}

.button.survey-button:hover {
    background-color: #AD6100;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox .box img.white {
    display: none;
}

.dropdown .content {
    background-color: #FFFFFF;
}

.dropdown .content .dropdown-button {
    color: #000000;
}

.dropdown .content .dropdown-button:hover {
    background-color: #D8D8D8;
}

.dropdown .content .dropdown-button.disabled {
    color: #666666;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #FFFFFF;
}

.dropdown .content .header {
    background-color: #CBCBCB;
    color: #000000;
}

.info-box {
    background-color: #D8D8D8;
    border-color: #666666;
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #61C315;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.menu {
    background-color: #347800;
}

.menu .menu-button {
    color: #FFFFFF;
}

.menu .menu-button.disabled {
    color: #ABABAB;
}

.menu .menu-button img.black {
    display: none;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #D8D8D8;
    border-color: #666666;
}

.news-post .header {
    background-color: #249B9B;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

.order-indicator .content .separator {
    color: #666666;
}

.positive {
    color: #1A671A;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.schedules .legend {
    color: #666666;
}

.schedules a.normal-service:hover {
    background-color: #509F5E;
}

.schedules a.modified-service:hover {
    background-color: #E6853A;
}

.schedules a.no-service:hover {
    background-color: #DC5050;
}

.schedules .normal-service {
    background-color: #7DBD88;
    color: #000000;
}

.schedules .modified-service {
    background-color: #FFA560;
    color: #000000;
}

.schedules .no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.tab-button {
    background-color: #FFFFFF;
    border-color: #666666;
    color: #026E6E;
}

.tab-button:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.tab-button.current {
    background-color: #CBCBCB;
    color: #000000;
}

.tooltip-anchor .tooltip {
    background-color: #666666;
    color: #FFFFFF;
}

.weekdays a.weekday.no-service:hover {
    background-color: #DC5050;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #509F5E;
}

.weekdays .weekday.no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.weekdays .weekday.normal-service {
    background-color: #7DBD88;
    color: #000000;
}
