/* COLOR REFERENCE
 * 
 * Primary Background: #FFFFFF
 * Secondary Background: #E4F6E3
 * Primary Header: #AB0000
 * Secondary Header: #D70000
 * Menu: #7A0000
 * Borders: #666666
 * Selection: #C3E9C1
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #D70000
 * Buttons: #D70000
 * 
 * Other colors may also be used for specific purposes
*/

a {
    color: #D70000;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"] {
    border-color: #69BB65;
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"]:focus {
    border-color: #7A0000;
}

hr {
    border-top-color: #69BB65;
}

table.striped {
    border-color: #69BB65;
}

table.striped tbody tr:hover {
    background-color: #C3E9C1;
}

table.striped tbody tr.section {
    background-color: #69BB65;
    color: #FFFFFF;
}

table.striped td {
    border-color: #69BB65;
}

table.striped th {
    background-color: #D70000;
    color: #FFFFFF;
    border-color: #69BB65;
}

table.striped tr {
    background-color: #FFFFFF;
}

table.striped tr:nth-child(2n-1) {
    background-color: #E4F6E3;
}

#content img.white {
    display: none;
}

#map.preview {
    border-color: #69BB65;
}

#map-toggle {
    background-color: #D70000;
}

#map-toggle-icon-black {
    display: none;
}

#navigation-bar {
    background-color: #AB0000;
}

#navigation-bar .navigation-icon:hover {
    background-color: #7A0000;
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #AB0000 !important;
}

#navigation-bar .navigation-icon img.black {
    display: none;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: #7A0000;
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #AB0000 !important;
}

#navigation-bar .navigation-item img.black {
    display: none;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #7A0000;
}

#refresh-button.disabled:hover {
    background-color: #D70000;
}

#refresh-button img.black {
    display: none;
}

#search-desktop {
    color: #FFFFFF;
}

#search-desktop > img.black {
    display: none;
}

#search-desktop input[type="text"] {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

#search-desktop input[type="text"]:focus {
    border-color: #7A0000;
}

#search-desktop input[type="text"]::placeholder {
    color: #666666;
}

#search-desktop input[type="text"]:-ms-input-placeholder {
    color: #666666;
}

#search-desktop input[type="text"]::-ms-input-placeholder {
    color: #666666;
}

#search-desktop-results {
    background-color: #FFFFFF;
}

#search-desktop-results .keyboard-selected {
    background-color: #C3E9C1;
}

#search-desktop-results .message {
    color: #666666;
}

#search-desktop-results .result {
    color: #000000;
}

#search-desktop-results .result:hover {
    background-color: #E4F6E3;
}

#search-desktop-results .result img.white {
    display: none;
}

#search-non-desktop input[type="text"] {
    border-color: #FFFFFF;
}

#search-non-desktop input[type="text"]:focus {
    border-color: #D70000;
}

#search-non-desktop-results .message {
    color: #FFFFFF;
}

#search-non-desktop-results .result {
    color: #FFFFFF;
}

#search-non-desktop-results .result .lighter-text {
    color: #C3E9C1;
}

#search-non-desktop-results .result img.black {
    display: none;
}

#search-non-desktop-toggle img.black {
    display: none;
}

#side-bar {
    border-right-color: #69BB65;
}

#status {
    background-color: #D70000;
    color: #FFFFFF;
    border-bottom-color: #69BB65;
}

#system-menu {
    background-color: #E4F6E3;
    border-bottom-color: #69BB65;
}

#system-menu .header {
    background-color: #69BB65;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #000000;
}

#system-menu .system-button:hover {
    background-color: #C3E9C1;
}

#system-menu .system-button.current {
    background-color: #C3E9C1;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle img.black {
    display: none;
}

#title a {
    background-color: #AB0000;
    color: #FFFFFF;
}

#title a:hover {
    background-color: #7A0000;
}

#title img.black {
    display: none;
}

.adherence-indicator {
    color: #FFFFFF;
}

.adherence-indicator.ahead {
    background-color: #FF9A3A
}

.adherence-indicator.behind {
    background-color: #FF9A3A;
}

.adherence-indicator.on-time {
    background-color: #3C5ABE;
}

.adherence-indicator.very-ahead {
    background-color: #FD393E;
}

.adherence-indicator.very-behind {
    background-color: #FD393E;
}

.banner {
    background-color: #FFB960;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.banner .close-button img.black {
    display: none;
}

.button {
    background-color: #D70000;
    color: #FFFFFF;
}

.button:hover {
    background-color: #AB0000;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.survey-button {
    background-color: #FF8E00;
}

.button.survey-button:hover {
    background-color: #AD6100;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox .box img.white {
    display: none;
}

.dropdown .content {
    background-color: #FFFFFF;
}

.dropdown .content .dropdown-button {
    color: #000000;
}

.dropdown .content .dropdown-button:hover {
    background-color: #E4F6E3;
}

.dropdown .content .dropdown-button.disabled {
    color: #666666;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #FFFFFF;
}

.dropdown .content .header {
    background-color: #C3E9C1;
    color: #000000;
}

.info-box {
    background-color: #E4F6E3;
    border-color: #69BB65;
}

.info-box .section {
    border-bottom-color: #C3E9C1;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #D70000;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.menu {
    background-color: #7A0000;
}

.menu .menu-button {
    color: #FFFFFF;
}

.menu .menu-button.disabled {
    color: #ABABAB;
}

.menu .menu-button img.black {
    display: none;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #E4F6E3;
    border-color: #69BB65;
}

.news-post .header {
    background-color: #D70000;
    color: white;
    border-bottom-color: #69BB65;
}

.order-indicator .content .separator {
    color: #69BB65;
}

.positive {
    color: #AB0000;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
}

.schedules .footer {
    color: #666666;
}

.schedules .legend {
    color: #666666;
}

.schedules a.modified-service:hover {
    background-color: #E6853A;
}

.schedules a.no-service:hover {
    background-color: #DC5050;
}

.schedules a.normal-service:hover {
    background-color: #509F5E;
}

.schedules .modified-service {
    background-color: #FFA560;
    color: #000000;
}

.schedules .no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.schedules .normal-service {
    background-color: #7DBD88;
    color: #000000;
}

.tab-button {
    background-color: #FFFFFF;
    border-color: #69BB65;
    color: #D70000;
}

.tab-button:hover {
    background-color: #E4F6E3;
    cursor: pointer;
}

.tab-button.current {
    background-color: #C3E9C1;
    color: #000000;
}

.tooltip-anchor .tooltip {
    background-color: #69BB65;
    color: #FFFFFF;
}

.tooltip-anchor .tooltip::after {
    border-color: transparent #69BB65 transparent transparent;
}

.weekdays a.weekday.no-service:hover {
    background-color: #DC5050;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #509F5E;
}

.weekdays .weekday.no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.weekdays .weekday.normal-service {
    background-color: #7DBD88;
    color: #000000;
}
