/* COLOR REFERENCE
 * 
 * Primary Background: #FFFFFF
 * Secondary Background: #E6E6E6
 * Primary Header: #1A671A
 * Secondary Header: #48A348
 * Menu: #094409
 * Borders: #666666
 * Selection: #CBCBCB
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #0040FF
 * Buttons: #365CCB
 * 
 * Other colors may also be used for specific purposes
*/

:root {
    --tooltip-background: #666666;
    --tooltip-text: #FFFFFF;
    
    --loading-background: #FFFFFF;
    --loading-foreground: #48A348;
    --loading-image-black: none;
    --loading-image-white: initial;
}

a {
    color: #0040FF;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

body.full-map #page-header {
    background-color: rgba(255, 255, 255, 0.7);
}

input[type="text"] {
    border-color: #666666;
    background-color: #FFFFFF;
    color: #000000;
}

input[type="text"]:focus {
    border-color: #094409;
}

table {
    border-color: #666666;
}

table tbody tr:hover {
    background-color: #CBCBCB;
}

table tbody tr.header {
    background-color: #666666;
    color: #FFFFFF;
}

table td {
    border-color: #666666;
}

table th {
    background-color: #48A348;
    color: #FFFFFF;
    border-color: #666666;
}

table tr {
    background-color: #FFFFFF;
}

table tr:nth-child(2n-1) {
    background-color: #E6E6E6;
}

#map.preview {
    border-color: #666666;
}

#map-toggle {
    background-color: #365CCB;
}

#map-toggle img.black {
    display: none;
}

#map-toggle img.white {
    display: block;
}

#navigation-bar {
    background-color: #1A671A;
    --tooltip-background: #094409;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: #094409;
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #1A671A !important;
}

#navigation-bar .navigation-icon img.black {
    display: none;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: #094409;
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #1A671A !important;
}

#navigation-bar .navigation-item img.black {
    display: none;
}

#navigation-menu {
    background-color: #094409;
}

#navigation-menu .menu-button {
    color: #FFFFFF;
}

#navigation-menu .menu-button.disabled {
    color: #ABABAB;
}

#navigation-menu .menu-button img.black {
    display: none;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: #E6E6E6;
    border-color: #666666;
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #FFCCCC;
}

#page img.white {
    display: none;
}

#page-header {
    border-bottom-color: #666666;
}

#quick-navigation .item {
    background-color: #E6E6E6;
    border-color: #666666;
}

#refresh-button:hover {
    background-color: #094409;
}

#refresh-button.disabled:hover {
    background-color: #48A348;
}

#refresh-button img.black {
    display: none;
}

#search {
    background-color: #E6E6E6;
    border-color: #666666;
}

#search-header {
    background-color: #48A348;
    color: #FFFFFF;
    border-color: #666666;
    --tooltip-background: #094409;
}

#search-input {
    border-color: #FFFFFF;
}

#search-input:focus {
    border-color: #094409;
}

#search-paging {
    background-color: #FFFFFF;
    border-color: #666666;
}

#search-placeholder {
    color: #666666;
}

#search-results img.white {
    display: none;
}

#search-results .result {
    color: #000000;
}

#search-results .result:hover {
    background-color: #CBCBCB;
}

#search-results .result.keyboard-selected {
    background-color: #CBCBCB;
}

#search-results .result .description {
    color: #666666;
}

#side-bar {
    border-right-color: #666666;
}

#side-bar-toggle {
    background-color: #E6E6E6;
}

#side-bar-toggle:hover {
    background-color: #CBCBCB;
}

#status {
    background-color: #48A348;
    color: #FFFFFF;
    border-bottom-color: #666666;
}

#system-menu {
    background-color: #E6E6E6;
    border-bottom-color: #666666;
}

#system-menu .header {
    background-color: #666666;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #000000;
}

#system-menu .system-button:hover {
    background-color: #CBCBCB;
}

#system-menu .system-button.current {
    background-color: #CBCBCB;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle img.black {
    display: none;
}

#title {
    background-color: #1A671A;
    color: #FFFFFF;
}

#title:hover {
    background-color: #094409;
}

#title img.black {
    display: none;
}

.adherence {
    color: #FFFFFF;
    background-color: #989898 !important;
}

.adherence.ahead {
    background-color: #FFB000 !important;
}

.adherence.behind {
    background-color: #FFB000 !important;
}

.adherence.on-time {
    background-color: #648FFF !important;
}

.adherence.very-ahead {
    background-color: #DC267F !important;
}

.adherence.very-behind {
    background-color: #DC267F !important;
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.banner .close-button img.black {
    display: none;
}

.bearing.adherence {
    background-color: transparent !important;
    border-bottom-color: #989898;
}

.bearing.adherence.ahead {
    border-bottom-color: #FFB000;
}

.bearing.adherence.behind {
    border-bottom-color: #FFB000;
}

.bearing.adherence.on-time {
    border-bottom-color: #648FFF;
}

.bearing.adherence.very-ahead {
    border-bottom-color: #DC267F;
}

.bearing.adherence.very-behind {
    border-bottom-color: #DC267F;
}

.button {
    background-color: #365ccb;
    color: #FFFFFF;
}

.button:hover {
    background-color: #1440C2;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.inactive {
    background-color: #ABABAB;
}

.button.inactive:hover {
    background-color: #666666;
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.button img.black {
    display: none;
}

.checkbox-container .checkbox {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox-container .checkbox img.white {
    display: none;
}

.code-block {
    background-color: #E6E6E6;
    border-color: #666666;
}

.events .date {
    border-right-color: #CBCBCB;
}

.info-box {
    background-color: #E6E6E6;
    border-color: #666666;
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #48A348;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.marker .icon.bus_route {
    color: #FFFFFF;
}

.modified-service {
    background-color: #FFB000;
    color: #000000;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #E6E6E6;
    border-color: #666666;
}

.news-post .header {
    background-color: #48A348;
    color: white;
    border-bottom-color: #666666;
}

.no-service {
    background-color: #DC267F;
    color: #000000;
}

.normal-service {
    background-color: #648FFF;
    color: #000000;
}

.order-details .content .separator {
    color: #666666;
}

.positive {
    color: #1A671A;
}

.radio-button-container:hover {
    background-color: #E6E6E6;
}

.radio-button-container .radio-button {
    border-color: #365CCB;
}

.radio-button-container .radio-button.selected::before {
    background-color: #365CCB;
}

.route {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
}

.sheet {
    background-color: #DDDDDD;
}

.sheet a.modified-service:hover {
    background-color: #C68900;
}

.sheet a.no-service:hover {
    background-color: #D50068;
}

.sheet a.normal-service:hover {
    background-color: #3D74FF;
}

.sheet-list .footer {
    color: #666666;
}

.sheet-list .legend {
    color: #666666;
}

.tab-button-bar {
    background: #666666;
    border-color: #666666;
}

.tab-button {
    background-color: #FFFFFF;
    color: #0040FF;
}

.tab-button:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

.tab-button.current {
    background-color: #CBCBCB;
    color: #000000;
}

.timeline .now {
    background-color: #FF0000;
}

.timeline .section:hover {
    border-color: #666666;
}

.weekdays a.weekday.no-service:hover {
    background-color: #D50068;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #3D74FF;
}

.weekdays {
    background-color: #C4C4C4;
    color: #000000;
}
