/* COLOR REFERENCE
 * 
 * Primary Background: #2F2F2F
 * Secondary Background: #393939
 * Primary Header: #154E15
 * Secondary Header: #276227
 * Menu: #053305
 * Borders: #565656
 * Selection: #565656
 * 
 * Primary Text: #FFFFFF
 * Secondary Text: #ABABAB
 * Links: #5CC3FF
 * Buttons: #2247B7
 * 
 * Other colors may also be used for specific purposes
*/

a {
    color: #5CC3FF;
}

body {
    background-color: #2F2F2F;
    color: #FFFFFF;
}

form input[type="text"] {
    border-color: #565656;
    background-color: #2F2F2F;
    color: #FFFFFF;
}

form input[type="text"]:focus {
    border-color: #053305;
}

hr {
    border-top-color: #565656;
}

table.striped {
    border-color: #565656;
}

table.striped tbody tr:hover {
    background-color: #565656;
}

table.striped tbody tr.section {
    background-color: #565656;
    color: #FFFFFF;
}

table.striped td {
    border-color: #565656;
}

table.striped th {
    background-color: #276227;
    color: #FFFFFF;
    border-color: #565656;
}

table.striped tr {
    background-color: #2F2F2F;
}

table.striped tr:nth-child(2n-1) {
    background-color: #393939;
}

#banner {
    background-color: #8A4D00;
    color: #FFFFFF;
}

#banner a {
    color: #FFFFFF;
}

#map.preview {
    border-color: #565656;
}

#map-z-toggle {
    background-color: #2247B7;
}

#navigation-bar {
    background-color: #154E15;
}

#navigation-bar .navigation-button {
    color: #FFFFFF;
}

#navigation-bar .navigation-button:hover {
    background-color: #053305;
}

#navigation-bar .header-button.disabled:hover {
    background-color: #154E15 !important;
}

#navigation-bar .navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #053305;
}

#search-desktop input[type="text"] {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

#search-desktop input[type="text"]:focus {
    border-color: #053305;
}

#search-desktop input[type="text"]::placeholder {
    color: #666666;
}

#search-desktop input[type="text"]:-ms-input-placeholder {
    color: #666666;
}
  
#search-desktop input[type="text"]::-ms-input-placeholder {
    color: #666666;
}

#search-desktop-results {
    background-color: #2F2F2F;
}

#search-desktop-results a {
    color: #FFFFFF;
}

#search-desktop-results a:hover {
    background-color: #393939
}

#search-desktop-results .keyboard-selected {
    background-color: #565656;
}

#search-desktop-results .message {
    color: #ABABAB;
}

#search-non-desktop input[type="text"] {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

#search-non-desktop input[type="text"]:focus {
    border-color: #125112;
}

#search-non-desktop-results a {
    color: #FFFFFF;
}

#search-non-desktop-results a .lighter-text {
    color: #ABABAB;
}

#search-non-desktop-results .message {
    color: #FFFFFF;
}

#system-bar {
    background-color: #276227;
    color: #FFFFFF;
}

.adherence-indicator {
    color: #FFFFFF;
}

.adherence-indicator.ahead {
    background-color: #FF6A00
}

.adherence-indicator.behind {
    background-color: #FF6A00;
}

.adherence-indicator.on-time {
    background-color: #0093A8;
}

.adherence-indicator.very-ahead {
    background-color: #FF0007;
}

.adherence-indicator.very-behind {
    background-color: #FF0007;
}

.button {
    background-color: #2247B7;
    color: white;
}

.button:hover {
    background-color: #10308F;
}

.button.disabled {
    background-color: #565656;
}

.button.disabled:hover {
    background-color: #565656 !important;
}

.button.survey-button {
    background-color: #FF8E00;
}

.button.survey-button:hover {
    background-color: #AD6100;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.dropdown .content {
    background-color: #2F2F2F;
}

.dropdown .content .dropdown-button {
    color: #FFFFFF;
}

.dropdown .content .dropdown-button:hover {
    background-color: #393939
}

.dropdown .content .dropdown-button.disabled {
    color: #ABABAB;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #2F2F2F !important;
}

.dropdown .content .header {
    background-color: #565656;
    color: #FFFFFF;
}

.info-box {
    background-color: #393939;
    border-color: #565656;
}

.info-box .section {
    border-bottom-color: #565656;
}

.light-only {
    display: none;
}

.lighter-text {
    color: #ABABAB;
}

.marker .icon {
    background-color: #276227;
    border-color: #393939;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.menu {
    background-color: #053305;
}

.menu .menu-button {
    color: #FFFFFF;
}

.menu .menu-button.disabled {
    color: #ABABAB;
}

.news-post {
    background-color: #393939;
    border-color: #565656;
}

.news-post .header {
    background-color: #276227;
    border-bottom-color: #565656;
}

.order-indicator .content .separator {
    color: #565656;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.service-indicator .dates {
    border-color: #565656;
}

.service-indicator .dates .date.limited {
    background-color: #B65901;
}

.service-indicator .dates .date.not-running {
    background-color: #700000;
}

.service-indicator .dates .date.running {
    background-color: #005900;
}

.service-indicator .details {
    color: #ABABAB;
}

.tab-button {
    background-color: #2F2F2F;
    border-color: #565656;
    color: #5CC3FF;
}

.tab-button:hover {
    background-color: #393939;
}

.tab-button.current {
    background-color: #565656;
    color: #FFFFFF;
}

.tooltip-anchor .tooltip {
    background-color: #565656;
    color: #FFFFFF;
}
