/* COLOR REFERENCE
 * 
 * Primary Background: #2F2F2F
 * Secondary Background: #393939
 * Primary Header: #154E15
 * Secondary Header: #276227
 * Menu: #053305
 * Borders: #565656
 * Selection: #565656
 * 
 * Primary Text: #FFFFFF
 * Secondary Text: #ABABAB
 * Links: #5CC3FF
 * Buttons: #2247B7
 * 
 * Other colors may also be used for specific purposes
*/

:root {
    color-scheme: dark;
    --tooltip-background: #2F2F2F;
    --tooltip-text: #FFFFFF;
    
    --loading-background: #2F2F2F;
    --loading-foreground: #154E15;
    
    --adherence-background: #989898;
    --adherence-text: #FFFFFF;
    
    --checkbox-color: #5CC3FF;
    --radio-button-color: #5CC3FF;
}

a {
    color: #5CC3FF;
}

body {
    background-color: #2F2F2F;
    color: #FFFFFF;
}

body.full-map #page-header {
    background-color: rgba(30, 30, 30, 0.7);
}

body.full-map #page-header .option {
    --hover-background: #2F2F2F;
}

input[type="text"] {
    border-color: #565656;
    background-color: #393939;
    color: #FFFFFF;
}

input[type="text"]:focus {
    border-color: #053305;
}

input[type="text"]::placeholder {
    color: #ABABAB;
}

iframe {
    color-scheme: light;
}

table {
    border-color: #565656;
}

table tbody tr:hover {
    background-color: #565656;
}

table tbody tr.header {
    background-color: #565656;
    color: #FFFFFF;
}

table td {
    border-color: #565656;
}

table th {
    background-color: #276227;
    color: #FFFFFF;
    border-color: #565656;
}

table tr {
    background-color: #2F2F2F;
}

table tr:nth-child(2n-1) {
    background-color: #393939;
}

#loading-stop {
    --image-color: #FFFFFF;
}

#map.preview {
    border-color: #565656;
}

#map-toggle {
    background-color: #2247B7;
    --image-color: #FFFFFF;
}

#navigation-bar {
    background-color: #154E15;
    --tooltip-background: #053305;
    --image-color: #FFFFFF;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: #053305;
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #154E15 !important;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: #053305;
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #154E15 !important;
}

#navigation-menu {
    background-color: #053305;
    --image-color: #FFFFFF;
}

#navigation-menu .menu-button {
    color: #FFFFFF;
}

#navigation-menu .menu-button.disabled {
    color: #ABABAB;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: #393939;
    border-color: #565656;
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #360000;
}

#page {
    --image-color: #FFFFFF;
}

#page-header {
    border-bottom-color: #565656;
}

#quick-navigation .item {
    background-color: #393939;
    border-color: #565656;
}

#refresh-button {
    --image-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #053305;
}

#refresh-button.disabled:hover {
    background-color: #276227;
}

#search {
    background-color: #393939;
    border-color: #565656;
}

#search-header {
    background-color: #276227;
    border-color: #565656;
    --tooltip-background: #053305;
}

#search-input {
    border-color: #2F2F2F;
}

#search-input:focus {
    border-color: #053305;
}

#search-paging {
    background-color: #2F2F2F;
    border-color: #565656;
}

#search-placeholder {
    color: #ABABAB;
}

#search-results {
    --image-color: #FFFFFF;
}

#search-results .result {
    color: #FFFFFF;
}

#search-results .result:hover {
    background-color: #565656;
}

#search-results .result.keyboard-selected {
    background-color: #565656;
}

#search-results .result .description {
    color: #ABABAB;
}

#side-bar {
    border-right-color: #565656;
}

#side-bar-toggle {
    background-color: #393939;
}

#side-bar-toggle:hover {
    background-color: #565656;
}

#status {
    background-color: #276227;
    color: #FFFFFF;
    border-bottom-color: #565656;
}

#system-menu {
    background-color: #393939;
    border-bottom-color: #565656;
}

#system-menu .header {
    background-color: #565656;
    color: #FFFFFF;
}

#system-menu .system-button {
    color: #FFFFFF;
}

#system-menu .system-button:hover {
    background-color: #2F2F2F;
}

#system-menu .system-button.current {
    background-color: #2F2F2F;
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    --image-color: #FFFFFF;
}

#title {
    background-color: #154E15;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#title:hover {
    background-color: #053305;
}

.ahead {
    --adherence-background: #FF6A00;
}

.banner {
    background-color: #8A4D00;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.behind {
    --adherence-background: #FF6A00;
}

.button {
    background-color: #2247B7;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.button:hover {
    background-color: #10308F;
}

.button.disabled {
    background-color: #565656;
}

.button.disabled:hover {
    background-color: #565656 !important;
}

.button.inactive {
    background-color: #ABABAB;
}

.button.inactive:hover {
    background-color: #666666;
}

.button.survey-button {
    background-color: #AA6816;
}

.button.survey-button:hover {
    background-color: #653800;
}

.code-block {
    background-color: #393939;
    border-color: #565656;
}

.container > .section > .header > .toggle {
    --image-color: #5CC3FF;
}

.events .date {
    border-right-color: #565656;
}

.favourite {
    --image-color: #5CC3FF;
}

.favourite:hover {
    background-color: #393939;
}

.favourite.disabled {
    --image-color: #565656;
}

.favourite.disabled:hover {
    background-color: initial;
}

.info-box {
    background-color: #393939;
    border-color: #565656;
}

.info-box .section {
    border-bottom-color: #565656;
}

.info-box .option {
    --hover-background: #565656;
}

.lighter-text {
    color: #ABABAB;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}

.marker .details .lighter-text {
    color: #666666;
}

.marker .icon {
    background-color: #276227;
    border-color: #FFFFFF;
    --image-color: #FFFFFF;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.marker .icon.bus_route {
    color: #FFFFFF;
}

.modified-service {
    background-color: #B65901;
    color: #FFFFFF;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #393939;
    border-color: #565656;
}

.news-post .header {
    background-color: #276227;
    border-bottom-color: #565656;
}

.no-service {
    background-color: #700000;
    color: #FFFFFF;
}

.normal-service {
    background-color: #005900;
    color: #FFFFFF;
}

.on-time {
    --adherence-background: #0093A8;
}

.option {
    --hover-background: #393939;
}

.option .checkbox {
    background-color: #2F2F2F;
}

.option .radio-button {
    background-color: #2F2F2F;
}

.order-details .content .separator {
    color: #565656;
}

.positive {
    color: #428342;
}

.record-warnings {
    --image-color: #FF0000;
}

.route {
    color: #FFFFFF;
    border-color: #393939;
    background-color: #989898;
}

.scheduled {
    --image-color: #989898;
}

.sheet {
    background-color: #565656;
}

.sheet a.modified-service:hover {
    background-color: #934800;
}

.sheet a.no-service:hover {
    background-color: #4A0000;
}

.sheet a.normal-service:hover {
    background-color: #003B00;
}

.sheet-list .footer {
    color: #ABABAB;
}

.sheet-list .legend {
    color: #ABABAB;
}

.tab-button-bar {
    background: #565656;
    border-color: #565656;
}

.tab-button {
    background-color: #2F2F2F;
    color: #5CC3FF;
}

.tab-button:hover {
    background-color: #393939;
}

.tab-button.current {
    background-color: #565656;
    color: #FFFFFF;
}

.timeline .now {
    background-color: #FF0000;
}

.timeline .section:hover {
    border-color: #565656;
}

.very-ahead {
    --adherence-background: #FF0007;
}

.very-behind {
    --adherence-background: #FF0007;
}

.weekdays a.weekday.no-service:hover {
    background-color: #4A0000;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #003B00;
}

.weekdays {
    background-color: #393939;
    color: #FFFFFF;
}
