/* COLOR REFERENCE
 * 
 * Primary Background: #FFFFFF
 * Secondary Background: #E6E6E6
 * Primary Header: #1A671A
 * Secondary Header: #48A348
 * Menu: #094409
 * Borders: #989898
 * Selection: #CBCBCB
 * 
 * Primary Text: #000000
 * Secondary Text: #666666
 * Links: #0040FF
 * Buttons: #365CCB
 * 
 * Other colors may also be used for specific purposes
*/

a {
    color: #0040FF;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"] {
    border-color: #989898;
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"]:focus {
    border-color: #094409;
}

hr {
    border-top-color: #989898;
}

table.striped {
    border-color: #989898;
}

table.striped tbody tr:hover {
    background-color: #CBCBCB;
}

table.striped tbody tr.section {
    background-color: #989898;
    color: #FFFFFF;
}

table.striped td {
    border-color: #989898;
}

table.striped th {
    background-color: #48A348;
    color: #FFFFFF;
    border-color: #989898;
}

table.striped tr {
    background-color: #FFFFFF;
}

table.striped tr:nth-child(2n-1) {
    background-color: #E6E6E6;
}

#banner {
    background-color: #FFB960;
    color: #FFFFFF;
}

#banner a {
    color: #FFFFFF;
}

#change-system-menu .header {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
}

#content img.white {
    display: none;
}

#map.preview {
    border-color: #989898;
}

#map-z-toggle {
    background-color: #365CCB;
}

#map-z-toggle-icon-black {
    display: none;
}

#navigation-bar {
    background-color: #1A671A;
}

#navigation-bar .menu-toggle img.black {
    display: none;
}

#navigation-bar .navigation-button {
    color: #FFFFFF;
}

#navigation-bar .navigation-button:hover {
    background-color: #094409;
}

#navigation-bar .navigation-button.disabled:hover {
    background-color: #1A671A !important;
}

#navigation-bar .navigation-button img.black {
    display: none;
}

#navigation-bar .navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #094409;
}

#refresh-button img.black {
    display: none;
}

#search-desktop {
    color: #FFFFFF;
}

#search-desktop > img.black {
    display: none;
}

#search-desktop input[type="text"] {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #000000;
}

#search-desktop input[type="text"]:focus {
    border-color: #094409;
}

#search-desktop input[type="text"]::placeholder {
    color: #666666;
}

#search-desktop input[type="text"]:-ms-input-placeholder {
    color: #666666;
}

#search-desktop input[type="text"]::-ms-input-placeholder {
    color: #666666;
}

#search-desktop-results {
    background-color: #FFFFFF;
}

#search-desktop-results .keyboard-selected {
    background-color: #CBCBCB;
}

#search-desktop-results .message {
    color: #666666;
}

#search-desktop-results .result {
    color: #000000;
}

#search-desktop-results .result:hover {
    background-color: #E6E6E6;
}

#search-desktop-results .result img.white {
    display: none;
}

#search-non-desktop input[type="text"] {
    border-color: #FFFFFF;
}

#search-non-desktop input[type="text"]:focus {
    border-color: #48A348;
}

#search-non-desktop-results .message {
    color: #FFFFFF;
}

#search-non-desktop-results .result {
    color: #FFFFFF;
}

#search-non-desktop-results .result .lighter-text {
    color: #CBCBCB;
}

#search-non-desktop-results .result img.black {
    display: none;
}

#system-bar {
    background-color: #48A348;
    color: #FFFFFF;
}

.adherence-indicator {
    color: #FFFFFF;
}

.adherence-indicator.ahead {
    background-color: #FF9A3A
}

.adherence-indicator.behind {
    background-color: #FF9A3A;
}

.adherence-indicator.on-time {
    background-color: #3C5ABE;
}

.adherence-indicator.very-ahead {
    background-color: #FD393E;
}

.adherence-indicator.very-behind {
    background-color: #FD393E;
}

.button {
    background-color: #365ccb;
    color: #FFFFFF;
}

.button:hover {
    background-color: #1440C2;
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.survey-button {
    background-color: #FF8E00;
}

.button.survey-button:hover {
    background-color: #AD6100;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox .box img.white {
    display: none;
}

.dropdown .content {
    background-color: #FFFFFF;
}

.dropdown .content .dropdown-button {
    color: #000000;
}

.dropdown .content .dropdown-button:hover {
    background-color: #E6E6E6;
}

.dropdown .content .dropdown-button.disabled {
    color: #666666;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #FFFFFF;
}

.dropdown .content .header {
    background-color: #CBCBCB;
    color: #000000;
}

.info-box {
    background-color: #E6E6E6;
    border-color: #989898;
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #48A348;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.menu {
    background-color: #094409;
}

.menu .menu-button {
    color: #FFFFFF;
}

.menu .menu-button.disabled {
    color: #ABABAB;
}

.menu .menu-button img.black {
    display: none;
}

.negative {
    color: #FF0000;
}

.news-post {
    background-color: #E6E6E6;
    border-color: #989898;
}

.news-post .header {
    background-color: #48A348;
    color: white;
    border-bottom-color: #989898;
}

.order-indicator .content .separator {
    color: #989898;
}

.positive {
    color: #1A671A;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.service-indicator .dates {
    border-color: #989898;
}

.service-indicator .dates .date.limited {
    background-color: #FFA560;
}

.service-indicator .dates .date.not-running {
    background-color: #FF7F7F;
}

.service-indicator .dates .date.running {
    background-color: #7DBD88;
}

.service-indicator .details {
    color: #666666;
}

.tab-button {
    background-color: #FFFFFF;
    border-color: #989898;
    color: #0040FF;
}

.tab-button:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

.tab-button.current {
    background-color: #CBCBCB;
    color: #000000;
}

.tooltip-anchor .tooltip {
    background-color: #989898;
    color: #FFFFFF;
}
