
:root {
    --tooltip-background: #000000;
    --tooltip-text: #FFFFFF;
    
    --loading-background: rgba(0, 0, 0, 0);
    --loading-foreground: #000000;
    
    --adherence-background: #989898;
    --adherence-text: #FFFFFF;
    
    --checkbox-color: #000000;
    --radio-button-color: #000000;
}

a {
    color: #0040FF;
}

body {
    background: linear-gradient(135deg,
        #FFFFFF 0%,
        #FFAFC7 10%,
        #73D7EE 20%,
        #613915 30%,
        #000000 40%,
        #E50000 50%,
        #FF8D00 60%,
        #FFEE00 70%,
        #028121 80%,
        #004CFF 90%,
        #760088 100%
    );
    background-attachment: fixed;
    color: #000000;
}

body.full-map #page-header {
    background-color: rgba(255, 255, 255, 0.7);
}

body.full-map #page-header .option {
    --hover-background: #FFFFFF;
}

input[type="text"] {
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
}

input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

table {
    border-color: rgba(0, 0, 0, 0.5);
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

table tbody tr.header {
    background-color: rgba(255, 255, 255, 0.8);
}

table td {
    border-color: rgba(0, 0, 0, 0.5);
}

table th {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(0, 0, 0, 0.5);
}

table tr {
    background-color: rgba(255, 255, 255, 0.6);
}

#loading-stop {
    --image-color: #FFFFFF;
}

#main {
    background-color: rgba(255, 255, 255, 0.4);
}

#map.preview {
    border-color: rgba(0, 0, 0, 0.5);
}

#map-toggle {
    background-color: rgba(255, 255, 255, 0.6);
    --image-color: #000000;
}

#navigation-bar {
    background-color: rgba(0, 0, 0, 0.2);
    --tooltip-background: #000000;
    --image-color: #FFFFFF;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
}

#navigation-bar .navigation-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

#navigation-menu {
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#navigation-menu .menu-button {
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#navigation-menu .menu-button.disabled {
    color: #ABABAB;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.5);
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #FFCCCC;
}

#page {
    --image-color: #000000;
}

#page-header {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

#quick-navigation .item {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.5);
}

#refresh-button {
    --image-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#refresh-button.disabled:hover {
    background-color: rgba(0, 0, 0, 0);
}

#search {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

#search-header {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.3);
    --tooltip-background: #000000;
}

#search-input {
    border-color: rgba(0, 0, 0, 0.5);
}

#search-input:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

#search-paging {
    color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.5);
}

#search-placeholder {
    color: #E6E6E6;
}

#search-results {
    --image-color: #FFFFFF;
}

#search-results .result {
    color: #FFFFFF;
}

#search-results .result:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#search-results .result.keyboard-selected {
    background-color: rgba(0, 0, 0, 0.4);
}

#search-results .result .description {
    color: #E6E6E6;
}

#side-bar {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    border-right-color: rgba(255, 255, 255, 0.3);
}

#side-bar-toggle {
    background-color: rgba(0, 0, 0, 0.4);
}

#side-bar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#status {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

#system-menu {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

#system-menu .header {
    background-color: rgba(0, 0, 0, 0.6);
}

#system-menu .system-button {
    color: #FFFFFF;
}

#system-menu .system-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#system-menu .system-button.current {
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    cursor: default;
}

#system-menu-toggle {
    --image-color: #FFFFFF;
}

#title {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#title:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
}

.button {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    --image-color: #000000;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.button.disabled {
    background-color: rgba(255, 255, 255, 0.4);
}

.button.disabled:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.button.inactive {
    background-color: rgba(255, 255, 255, 0.4);
}

.button.inactive:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.code-block {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.5);
}

.container > .section > .header {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.container > .section > .header > .toggle {
    --image-color: #000000;
}

.events .date {
    border-right-color: rgba(0, 0, 0, 0.2);
}

.favourite {
    --image-color: #000000;
}

.favourite:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.favourite.disabled {
    --image-color: rgba(0, 0, 0, 0.6);
}

.favourite.disabled:hover {
    background-color: initial;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.5);
}

.info-box .section {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.info-box .option {
    --hover-background: rgba(255, 255, 255, 0.6);
}

.lighter-text {
    color: #2F2F2F;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #000000;
    --image-color: #FFFFFF;
}

.marker .icon.route .number {
    color: #FFFFFF;
}

.marker .icon.bus_route {
    color: #FFFFFF;
}

.news-post {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(0, 0, 0, 0.5);
}

.news-post .header {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.option {
    --hover-background: rgba(255, 255, 255, 0.6);
}

.option .checkbox {
    background-color: rgba(255, 255, 255, 0.6);
}

.option .radio-button {
    background-color: rgba(255, 255, 255, 0.6);
}

.order-details .content .separator {
    color: rgba(0, 0, 0, 0.5);
}

.paging .page {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
}

.paging .page:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.paging .page.current {
    background-color: #000000;
    color: #FFFFFF;
}

.paging .page.current:hover {
    background-color: #000000;
}

.record-warnings {
    --image-color: #FF0000;
}

.route {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
}

.scheduled {
    --image-color: #2F2F2F;
}

.sheet {
    background-color: rgba(255, 255, 255, 0.5);
}

.sheet-list .footer {
    color: #2F2F2F;
}

.sheet-list .legend {
    color: #2F2F2F;
}

.tab-button-bar {
    gap: 0px;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-width: 1px;
}

.tab-button {
    background-color: rgba(255, 255, 255, 0.6);
    color: #0040FF;
}

.tab-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.tab-button.current {
    background-color: rgba(255, 255, 255,0.9);
    color: #000000;
}

.timeline .now {
    background-color: #FF0000;
}

.timeline .section:hover {
    border-color: #000000;
}

.timespan .time {
    background-color: #ABABAB;
}
