/* COLOR REFERENCE
 * 
 * Based on tcomm.bustrainferry.com
*/

a {
    color: #2489CE;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: underline;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

form input[type="text"] {
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 20%);
    color: #000000;
}

form input[type="text"]:focus {
    border-color: #000000;
}

table.striped {
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

table.striped tbody tr:hover {
    background-color: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
}

table.striped tbody tr.section {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

table.striped td {
    border-color: #CCCCCC;
}

table.striped th {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

table.striped tr {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#content img.white {
    display: none;
}

#map.preview {
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

#map-toggle {
    background: #EEEEEE;
    color: #222222;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border: 1px solid #CCCCCC;
    background-image: linear-gradient( #FFFFFF,#F1F1F1 );
}

#map-toggle-icon-white {
    display: none;
}

#navigation-bar {
    background-color: #111111;
    background-image: linear-gradient(#3C3C3C, #111111);
    text-shadow: 0 -1px 1px #000000;
}

#navigation-bar .navigation-icon:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #111111 !important;
    background-image: linear-gradient(#3C3C3C, #111111) !important;
}

#navigation-bar .navigation-icon img.black {
    display: none;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
    text-shadow: none;
}

#navigation-bar .navigation-item:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #111111 !important;
    background-image: linear-gradient(#3C3C3C, #111111) !important;
}

#navigation-bar .navigation-item img.black {
    display: none;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#refresh-button:hover {
    background-color: #000000;
}

#refresh-button.disabled {
    background-color: transparent;
}

#refresh-button img.black {
    display: none;
}

#quick-navigation .item {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

#search-desktop {
    color: #FFFFFF;
}

#search-desktop > img.black {
    display: none;
}

#search-desktop input[type="text"] {
    border-color: #000000;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 20%);
    color: #000000;
}

#search-desktop input[type="text"]:focus {
    border-color: #000000;
}

#search-desktop input[type="text"]::placeholder {
    color: #666666;
}

#search-desktop input[type="text"]:-ms-input-placeholder {
    color: #666666;
}

#search-desktop input[type="text"]::-ms-input-placeholder {
    color: #666666;
}

#search-desktop-results {
    text-shadow: none;
    background-color: #FFFFFF;
}

#search-desktop-results .keyboard-selected {
    text-shadow: none;
    background-color: #CBCBCB;
}

#search-desktop-results .message {
    text-shadow: none;
    color: #666666;
}

#search-desktop-results .result {
    text-shadow: none;
    color: #000000;
}

#search-desktop-results .result:hover {
    text-shadow: none;
    background-color: #E6E6E6;
}

#search-desktop-results .result img.white {
    display: none;
}

#search-non-desktop {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#search-non-desktop input[type="text"] {
    border-color: #000000;
}

#search-non-desktop input[type="text"]:focus {
    border-color: #000000;
}

#search-non-desktop-results .message {
    color: #000000;
}

#search-non-desktop-results .result {
    color: #000000;
}

#search-non-desktop-results .result .lighter-text {
    color: #000000;
}

#search-non-desktop-results .result img.white {
    display: none;
}

#search-non-desktop-toggle img.black {
    display: none;
}

#side-bar {
    border-right-color: #000000;
}

#status {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
    border-bottom-color: #000000;
}

#system-menu {
    background-color: #EEEEEE;
    border-bottom-color: #000000;
}

#system-menu .header {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

#system-menu .system-button {
    background-color: #EEEEEE;
    color: #222222;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#system-menu .system-button:hover {
    background: #DFDFDF;
    background-image: linear-gradient(#F6F6F6,#E0E0E0);
}

#system-menu .system-button.current {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

#system-menu-toggle img.black {
    display: none;
}

#title a {
    background-color: #111111;
    background-image: linear-gradient(#3C3C3C, #111111);
    text-shadow: none;
    color: #FFFFFF;
}

#title a:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#title img.black {
    display: none;
}

#system-bar {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

.adherence-indicator {
    background-color: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
    text-shadow: none;
}

.adherence-indicator.ahead {
    color: #FF0000
}

.adherence-indicator.behind {
    color: #B38A15;
}

.adherence-indicator.on-time {
    color: #43DF28;
}

.adherence-indicator.very-ahead {
    color: #FF0000;
}

.adherence-indicator.very-behind {
    color: #174CB3;
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
    text-shadow: none;
}

.banner .close-button img.black {
    display: none;
}

.button {
    background: #EEEEEE;
    color: #222222;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border: 1px solid #CCCCCC;
    background-image: linear-gradient(#FFFFFF,#F1F1F1);
}

.button:hover {
    background: #DFDFDF;
    background-image: linear-gradient(#F6F6F6,#E0E0E0);
}

.button.disabled {
    background-color: #666666;
}

.button.disabled:hover {
    background-color: #666666 !important;
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.checkbox .box {
    border-color: #000000;
    background-color: #FFFFFF;
}

.checkbox .box img.white {
    display: none;
}

.dropdown .content {
    background-color: #FFFFFF;
}

.dropdown .content .dropdown-button {
    color: #000000;
    text-shadow: none;
}

.dropdown .content .dropdown-button:hover {
    background-color: #5393c5;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3373a5;
    background-image: linear-gradient( #5393c5,#6facd5 );
}

.dropdown .content .dropdown-button.disabled {
    color: #666666;
    text-shadow: none;
}

.dropdown .content .dropdown-button.disabled:hover {
    background-color: #FFFFFF !important;
    background-image: none;
}

.dropdown .content .header {
    background-color: #CBCBCB;
    color: #000000;
    text-shadow: none;
}

.events .date {
    border-right-color: #CBCBCB;
}

.info-box {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #5393c5;
}

.marker .icon.route .number {
    color: #FFFFFF;
    text-shadow: none;
}

.menu {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

.menu .menu-button {
    color: #000000;
    text-decoration: none;
}

.menu .menu-button.disabled {
    color: #666666;
}

.menu .menu-button img.white {
    display: none;
}

.negative {
    color: #FF0000;
}

.news-post {
    background: #FFF9DF;
    border-color: #F7C942;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient( #FFFADF,#FFF3A5 );
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.news-post .header {
    background-color: #FFF9DF;
    border-bottom-color: #F7C942;
    background-image: linear-gradient( #FFFADF,#FFF3A5 );
}

.page-header {
    border-bottom-color: #000000;
}

.positive {
    color: #1A671A;
}

.route-number {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
    text-shadow: none;
    text-decoration: none;
}

.schedules {
    text-shadow: none;
}

.schedules a {
    text-shadow: none;
}

.schedules .footer {
    color: #666666;
}

.schedules .legend {
    color: #666666;
}

.schedules a.modified-service:hover {
    background-color: #E6853A;
}

.schedules a.no-service:hover {
    background-color: #DC5050;
}

.schedules a.normal-service:hover {
    background-color: #509F5E;
}

.schedules .modified-service {
    background-color: #FFA560;
    color: #000000;
}

.schedules .no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.schedules .normal-service {
    background-color: #7DBD88;
    color: #000000;
}

.tab-button-bar {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    border-width: 0px;
    margin-bottom: 0px;
    gap: 0px;
}

.tab-button {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

.tab-button:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
    cursor: pointer;
}

.tab-button.current {
    background-color: #5393c5;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3373a5;
    background-image: linear-gradient( #5393c5,#6facd5 );
}

.tooltip-anchor .tooltip {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: none;
}

.tooltip-anchor .tooltip::after {
    border-color: transparent #000000 transparent transparent;
}

.weekdays .weekday {
    text-shadow: none;
}

.weekdays a.weekday.no-service:hover {
    background-color: #DC5050;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #509F5E;
}

.weekdays .weekday.no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.weekdays .weekday.normal-service {
    background-color: #7DBD88;
    color: #000000;
}
