/* COLOR REFERENCE
 * 
 * Based on tcomm.bustrainferry.com
*/

:root {
    --tooltip-background: #000000;
    --tooltip-text: #FFFFFF;
    
    --loading-background: #FFFFFF;
    --loading-foreground: #000000;
    
    --adherence-background: #989898;
    --adherence-text: #FFFFFF;
    
    --checkbox-color: #5E87B0;
    --radio-button-color: #5E87B0;
}

a {
    color: #2489CE;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: underline;
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

body.full-map #page-header {
    background-color: rgba(255, 255, 255, 0.7);
}

body.full-map #page-header .selection-container {
    --hover-background: #FFFFFF;
}

input[type="text"] {
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 20%);
    color: #000000;
}

input[type="text"]:focus {
    border-color: #000000;
}

table {
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

table tbody tr:hover {
    background-color: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
}

table tbody tr.header {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

table td {
    border-color: #CCCCCC;
}

table th {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

table tr {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#loading-stop {
    --image-color: #FFFFFF;
}

#map.preview {
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

#map-toggle {
    background: #EEEEEE;
    color: #222222;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border: 1px solid #CCCCCC;
    background-image: linear-gradient( #FFFFFF,#F1F1F1 );
    --image-color: #000000;
}

#navigation-bar {
    background-color: #111111;
    background-image: linear-gradient(#3C3C3C, #111111);
    text-shadow: 0 -1px 1px #000000;
    --tooltip-background: #444444;
    --image-color: #FFFFFF;
}

#navigation-bar .navigation-icon {
    color: #FFFFFF;
}

#navigation-bar .navigation-icon:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#navigation-bar .navigation-icon.disabled:hover {
    background-color: #111111 !important;
    background-image: linear-gradient(#3C3C3C, #111111) !important;
}

#navigation-bar .navigation-item {
    color: #FFFFFF;
    text-shadow: none;
}

#navigation-bar .navigation-item:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#navigation-bar .navigation-item.disabled:hover {
    background-color: #111111 !important;
    background-image: linear-gradient(#3C3C3C, #111111) !important;
}

#navigation-menu {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    --image-color: #000000;
}

#navigation-menu .menu-button {
    color: #000000;
    text-decoration: none;
}

#navigation-menu .menu-button.disabled {
    color: #666666;
}

#navigation-menu-toggle .line {
    background-color: #FFFFFF;
}

#nearby-status.loading {
    background-color: #E6E6E6;
    border-color: #666666;
}

#nearby-status.error {
    border-color: #FF0000;
    background-color: #FFCCCC;
}

#page {
    --image-color: #000000;
}

#page-header {
    border-bottom-color: #000000;
}

#quick-navigation .item {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

#refresh-button:hover {
    background-color: #000000;
}

#refresh-button.disabled {
    background-color: transparent;
}

#refresh-button {
    --image-color: #FFFFFF;
}

#search {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #000000;
}

#search-header {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    color: #FFFFFF;
    text-shadow: none;
    border-color: #000000;
    --tooltip-background: #444444;
}

#search-input {
    border-color: #FFFFFF;
}

#search-input:focus {
    border-color: #000000;
}

#search-paging {
    background-color: #FFFFFF;
    border-color: #000000;
}

#search-placeholder {
    color: #666666;
    text-shadow: none;
}

#search-results {
    --image-color: #000000;
}

#search-results .result {
    color: #000000;
    text-shadow: none;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#search-results .result:hover {
    background-color: #5393c5;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3373a5;
    background-image: linear-gradient(#5393c5, #6facd5);
    --image-color: #FFFFFF;
}

#search-results .result:hover .description {
    color: #D6D6D6;
}

#search-results .result.keyboard-selected {
    background-color: #5393c5;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3373a5;
    background-image: linear-gradient(#5393c5, #6facd5);
    --image-color: #FFFFFF;
}

#search-results .result.keyboard-selected .description {
    color: #D6D6D6;
}

#search-results .result .description {
    color: #666666;
}

#side-bar {
    border-right-color: #000000;
}

#side-bar-toggle {
    background-color: #EEEEEE;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#side-bar-toggle:hover {
    background: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
}

#status {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
    border-bottom-color: #000000;
}

#system-menu {
    background-color: #EEEEEE;
    border-bottom-color: #000000;
}

#system-menu .header {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

#system-menu .system-button {
    background-color: #EEEEEE;
    color: #222222;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
}

#system-menu .system-button:hover {
    background: #DFDFDF;
    background-image: linear-gradient(#F6F6F6,#E0E0E0);
}

#system-menu .system-button.current {
    border-color: #456F9A;;
    background-color: #5E87B0;
    background-image: linear-gradient(#6fACD5,#497BAE);
    text-shadow: 0 -1px 1px #3E6790;
    color: #FFFFFF;
}

#system-menu-toggle {
    --image-color: #FFFFFF;
}

#title {
    background-color: #111111;
    background-image: linear-gradient(#3C3C3C, #111111);
    text-shadow: none;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

#title:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
}

#system-bar {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

.adherence-indicator {
    text-shadow: none;
}

.ahead {
    --adherence-background: #F00E0E;
}

.banner {
    background-color: #FFA027;
    color: #FFFFFF;
    --image-color: #FFFFFF;
}

.banner a {
    color: #FFFFFF;
    text-shadow: none;
}

.behind {
    --adherence-background: #CC8800;
}

.button {
    background: #EEEEEE;
    color: #222222;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border: 1px solid #CCCCCC;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    --image-color: #000000;
}

.button:hover {
    background: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
}

.button.disabled {
    background-color: #666666;
    background-image: linear-gradient(#666666, #565656);
    color: #000000;
    text-shadow: none;
}

.button.disabled:hover {
    background-color: #666666 !important;
    background-image: linear-gradient(#666666, #565656);
}

.button.inactive {
    background-color: #ABABAB;
    background-image: linear-gradient(#BCBCBC, #ABABAB);
}

.button.inactive:hover {
    background-color: #666666;
    background-image: linear-gradient(#666666, #565656);
}

.button.survey-button {
    background-color: #DD7D03;
}

.button.survey-button:hover {
    background-color: #AD6000;
}

.code-block {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.events .date {
    border-right-color: #CBCBCB;
}

.info-box {
    background-color: #EEEEEE;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #F1F1F1);
    border-color: #CCCCCC;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.info-box .section {
    border-bottom-color: #CBCBCB;
}

.info-box .selection-container {
    --hover-background: #CBCBCB;
}

.lighter-text {
    color: #666666;
}

.marker .details {
    background-color: rgba(255, 255, 255, 0.8);
}

.marker .icon {
    border-color: #FFFFFF;
    background-color: #5393c5;
    --image-color: #FFFFFF;
}

.marker .icon.route .number {
    color: #FFFFFF;
    text-shadow: none;
}

.marker .icon.bus_route {
    color: #FFFFFF;
    text-shadow: none;
}

.marker .icon.adherence {
    text-shadow: none;
}

.modified-service {
    background-color: #FFA560;
    color: #000000;
}

.negative {
    color: #FF0000;
}

.news-post {
    background: #FFF9DF;
    border-color: #F7C942;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient( #FFFADF,#FFF3A5 );
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.news-post .header {
    background-color: #FFF9DF;
    border-bottom-color: #F7C942;
    background-image: linear-gradient( #FFFADF,#FFF3A5 );
}

.no-service {
    background-color: #FF7F7F;
    color: #000000;
}

.normal-service {
    background-color: #7DBD88;
    color: #000000;
}

.on-time {
    --adherence-background: #4EBF40;
}

.positive {
    color: #1A671A;
}

.route {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #989898;
    text-shadow: none;
    text-decoration: none;
}

.selection-container {
    --hover-background: #EEEEEE;
}

.selection-container .checkbox {
    background-color: #FFFFFF;
}

.selection-container .radio-button {
    background-color: #FFFFFF;
}

.sheet {
    background-color: #DFDFDF;
    background-image: linear-gradient(#F6F6F6, #E0E0E0);
}

.sheet a {
    text-shadow: none;
}

.sheet a.modified-service:hover {
    background-color: #E6853A;
}

.sheet a.no-service:hover {
    background-color: #DC5050;
}

.sheet a.normal-service:hover {
    background-color: #509F5E;
}

.sheet-list {
    text-shadow: none;
}

.sheet-list .footer {
    color: #666666;
}

.sheet-list .legend {
    color: #666666;
}

.tab-button-bar {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    border-width: 0px;
    margin-bottom: -5px;
    gap: 0px;
}

.tab-button {
    background-color: #333333;
    background-image: linear-gradient(#444444, #2D2D2D);
    text-shadow: 0 -1px 1px #000000;
    color: #FFFFFF;
}

.tab-button:hover {
    background-color: #444444;
    background-image: linear-gradient(#555555, #383838);
    cursor: pointer;
}

.tab-button.current {
    background-color: #5393c5;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #3373a5;
    background-image: linear-gradient( #5393c5,#6facd5 );
}

.timeline .now {
    background-color: #FF0000;
}

.timeline .section:hover {
    border-color: #000000;
}

.tooltip-anchor .tooltip {
    text-shadow: none;
}

.very-ahead {
    --adherence-background: #F00E0E;
}

.very-behind {
    --adherence-background: #115EBC;
}

.weekdays .weekday {
    text-shadow: none;
}

.weekdays a.weekday.no-service:hover {
    background-color: #DC5050;
}

.weekdays a.weekday.normal-service:hover {
    background-color: #509F5E;
}

.weekdays {
    background-color: #CBCBCB;
    color: #000000;
}
